.mobilenavbtn{
display:none !important;
}
.navbar-canvas{
    display:none;
}
 
#page-view {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    margin-top:50px;
    position: relative;
}

.navbar-canvas {
    position: fixed;
    min-height: 50px;
    color:#FFF;
    background-color: #201c1a;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}

html{
    overflow:auto;
}
 

/* tab system */


   .dropdown-menu{
       z-index:99999;
   }

     .navbuttons {
        
        display: inline-block;
        overflow: auto;
        overflow-y: hidden; 
        max-width: 100%;
        margin: 0 0 1em; 
        margin-top:0px;
        margin-bottom: 0px;
        
        white-space: nowrap; 
        background: #fff; 

    }

    .navbuttons li {
        display: inline-block;
        vertical-align: bottom;
        background-color: #fff;
        color: #666;
        padding: 1em;
        padding-left:0px;
        padding-right:0px;
        box-shadow: 5px 10px 18px rgba(0,0,0,0.5);
    }
    
    .navbuttons a{
        font-size:1em;
        padding:1.5em;
        color: #666;
         
        text-decoration: none;
    } 
    .navbuttons .active a{
        font-size:1em;
        padding:1.5em;
        color: #fff;
         
        text-decoration: none;
    }
    
    .navbar-top-links-v2 > li > a {
        padding: 0px;
        min-height: 50px;
    }
    .inline-block-right{
        display:inline-block;
        float: right;
        text-align: right;
        right:0px;
    }
    .tm1-ui-session {
        color:#fff;
    }
    #locked .fa-group:before, .fa-users:before {
        content: "\f007";
        color: #fff;
    }
    #open .fa-group:before, .fa-users:before {
        content: "\f007";
        color: #fff;
    }
    

    @media (min-width: 768px){
        .tm1-login-modal .modal-content {
            border:none;
            background-color: transparent;
            -moz-box-shadow:    0 5px 15px rgba(0, 0, 0, 0); 
            -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
            
        }
    }
    .tm1-login-modal .modal-content {
            border:none;
            background-color: transparent;
            -moz-box-shadow:    0 5px 15px rgba(0, 0, 0, 0); 
            -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
        }
    .tm1-login-modal button.close {
        color: #fff !important;
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
    }
    .tm1-login-modal .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #fff !important;
     text-shadow: 0 0px 0 transparent !important; 
    filter: alpha(opacity=100);
    opacity: 1 !important;
}
.tm1-login-modal .panel {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
        border: 0px solid transparent;
    border-radius: 0px;
    background-color: transparent !important;
}
 
.tm1-login-modal button.close {
    color: #fff !important;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    display: none;
    background: transparent;
    border: 0;
}
#page-header .nav > li > a:hover, .nav > li > a:focus {
    color:#fff !important;
    text-decoration: none;
    background-color: transparent !important;
}
#page-header .nav > li > a {
    color: #fff;
    text-decoration: none;
    cursor:pointer;
}
#page-header .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
     background-color: transparent !important;
    border-color: transparent !important;
    cursor:pointer;
}
.inline-block{
    text-align:right; 
    display:inline-block; 
    float:right !important;  
}




/* SUBNM CUSTOM CSS  */
td > .form-control .input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    text-align: left;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-group-addon:last-child {
    border-left: 0;
    border-radius: 0px;
}
.input-group{
     border-radius: 0px;   
}
.form-control {
   
    border-radius: 0px;   
}
#bodyContent .tm1-ui-dbr-input-simple {
    text-align:right;
}
div.tm1-subnm-hierarchy-style ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    color: #555;
}
.nopadding{
    padding:0px;
}

 
/*.tm1-login-modal{
    pointer-events:none; 
    background-image: url("../images/image-bg.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center; 
     
}*/
.modal-content{
     pointer-events:all;
}
 
 #tm1-login-button {
    color: #fff;
    background-color: transparent !important;
    border-color: #fff !important;
}
 
.printpageformat{
    width: 289px;
    margin:0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.printdropdown {
    width: 289px;
    margin:0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#righthandsidebar{
    -webkit-transition: margin-left 0.5s, margin-top 1s;
     transition-property:margin-left, margin-top;  
    transition-duration: 0.5s, 1s;  
    -moz-box-shadow:     -5px 10px 18px rgba(0,0,0,0.2); 
    -webkit-box-shadow:  -5px 10px 18px rgba(0,0,0,0.2);
    box-shadow: -5px 10px 18px rgba(0,0,0,0.2);
}
.titleArea
{
    -moz-box-shadow:     5px 10px 18px rgba(0,0,0,0.2); 
    -webkit-box-shadow:  5px 10px 18px rgba(0,0,0,0.2);
    box-shadow: 5px 10px 18px rgba(0,0,0,0.2);
    color:#555 !important; 
    padding:6px; 
    padding-left:1.3em; 
    padding-right:60px; 
     -webkit-transition:margin-left 0.5s, margin-top 1s;
    transition-property:margin-left, margin-top;  
    transition-duration: 0.5s, 1s;  
    position:fixed; 
    z-index:99; 
    border-radius:0px;  
    border:none; 
    left:0px;    
    background-color:#fff !important; margin-top:100%;  

}
.popOverContainer{
    text-decoration:none;  
    list-style: none;
    margin-top: 14px;
    margin-left: 0px;  
    position:fixed; 
    border-top-left-radius: 0px; 
    z-index:99999; 
    background-color:#fff; 
    border-top-right-radius: 0px; 
    border-top: 0px;
    min-width:203px !important;   
    -moz-box-shadow:    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




/* animating birds */
	
.container {
	 z-index:999;
	position: fixed;
	overflow: hidden;
	display: block;
	align-items: center;
	justify-content: center;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	 pointer-events:auto;
	min-height: 35rem;
 	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	padding: 0;
}	
	.bird {
		pointer-events:auto;
  background-image: url('../images/bird-cells.png');
  background-size: auto 100%;
  width: 88px;
  
  height: 125px;
  cursor:pointer;
  will-change: background-position;
  animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-delay: -0.5s
}

.cloud {
		pointer-events:auto;
  background-image: url('../images/cloud.png');
  background-size: auto 100%;
  width: 200px;
  
  height: 200px;
  cursor:pointer;
   
   
}
.cloud-group {
    pointer-events:auto;
  background-image: url('../images/clouds-group.png');
  background-size: auto 100%;
  width: 745px;
  
  height: 207px;
  cursor:pointer;
   
   
}

.fa-skull {
		pointer-events:auto;
  background-image: url('../images/calendar-alt-regular.svg');
  background-size: auto 100%;
  width: 15px;
  padding:3px;
  height:17px;
  cursor:pointer;
   
  
}
.targetSVG {
    z-index:999999;
		pointer-events:none;
  background-image: url('../images/dot-circle-regular.svg');
  background-size: auto 100%;
  width: 100px;
  padding:0px;
  height: 100px;
  top:0px;
  left:0px;
  cursor:pointer;
   
  
}

.bird-container {
	position: absolute;
	top: 0%;
	left: -20%;
     padding: 50px;
	transform: scale(0) translateX(-15vw);
	will-change: transform;
	pointer-events:auto;
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-duration: 10s;
	animation-delay: -0.5s
	

}
.cloud-container {
	position: fixed;
	top: -200px;
	left: -100%;
     padding: 0px;
	 z-index:-1; 
     
    
	    pointer-events:none;
	    
        animation: moveAcross 10s linear infinite;
        animation-delay: 1s;
        
	    

}
.cloud-group-container {
	position: fixed;
	top: -200px;
	left: -900px;
     padding: 0px;
	 z-index:-1; 
      
    
	    pointer-events:none;
	    
        animation: moveAcrossCloudsGroup 10s linear infinite;
        animation-delay: 1s;
        
	

}
 
 
@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}
@keyframes fly-right-one {
	0% {
		transform: scale(0.2) translateX(-50vw);
	}

	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.3);
	}

	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.3);
	}

	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.3);
	}

	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.3);
	}

	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.3);
	}

	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.3);
	}

	100% {
		transform: translateY(0vh) translateX(170vw) scale(0.3);
	}
}
@keyframes moveAcrossCloudsGroup{
      0% {
   transform: translateY(-15vh) translateX(-50vw) scale(1.0);
  }
  1% {
   transform: translateY(-15vh) translateX(0vw) scale(1.0);
  }
  50% {
   transform: translateY(-15vh) translateX(100vw) scale(1.0);
  }
  99% {
   transform: translateY(-15vh) translateX(200vw) scale(1.0);
  }
  100% {
    transform: translateY(-15vh) translateX(220vw) scale(1.0);
  }
}

@keyframes moveAcross {
    0% {
   transform: translateY(-15vh) translateX(-30vw) scale(1.0);
  }
  1% {
   transform: translateY(-15vh) translateX(0vw) scale(1.0);
  }
  99% {
   transform: translateY(-15vh) translateX(200vw) scale(1.0);
  }
  
  100% {
    transform: translateY(-15vh) translateX(200vw) scale(1.0);
  }
}



 
 
@media print {
   .stickyContainer{
       width:100%;
       top:0px !important; 
       height:auto !important;
       overflow:visible !important;
       position:relative !important;
   }
   .fixed-container-chart{
		
	display: none !important;
		}
		.fixed-container-debug{
			display: none !important;
		}
		.fixed-container-side{
		
			display: none !important;
		}
		.sticky-header{ 
			display: none !important;
		}
		.fixedFirstColHeader{
			 
			display: none !important;
		}
		 
}
.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

div.tm1-subnm-hierarchy-style {
    margin-left: 0;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border: 1px solid transparent;
    padding: 1px;
    padding-left: 1px;
    background-color: White;
    height: 247px;
    overflow-y: scroll;
}
 



/*  CUSTOM CSS SCROLL BARS  */
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: #4f81bd;
}