admin/**
assets/**
help/**
html/samples/**
html/system/**
js/controllers/samples/**
lang/**
node_modules
META-INF/**
WEB-INF/classes/**
WEB-INF/lib/**
WEB-INF/config/**
WEB-INF/print/**
WEB-INF/instances.json
WEB-INF/logs/**
WEB-INF/pages/system/**
WEB-INF/pages/templates/**
WEB-INF/web.xml.*
WEB-INF/wro.xml.*
WEB-INF/print/phantomjs.exe
export.js
WEB-INF/pages/Archive.zip
._.DS_Store