admin/**
assets/**
help/**
html/samples/**
js/controllers/samples/**
lang/**
WEB-INF/classes/**
WEB-INF/lib/**
WEB-INF/pages/system/**
WEB-INF/classes/**
node_modules
files/**
WEB-INF/logs/application.log
WEB-INF/web.xml.*
WEB-INF/wro.xml.*
WEB-INF/print/phantomjs.exe
