admin/**
assets/**
help/**
html/samples/**
html/system/**
js/controllers/t-test*
js/controllers/samples/**
js/controllers/system/**
lang/**
node_modules
META-INF/**
WEB-INF/classes/**
WEB-INF/lib/**
WEB-INF/config/**
WEB-INF/print/**
WEB-INF/instances.json
WEB-INF/logs/**
WEB-INF/pages/system/**
WEB-INF/pages/templates/**
WEB-INF/web.xml.*
WEB-INF/wro.xml.*
WEB-INF/print/phantomjs.exe
export.js
js/client.startup.js
WEB-INF/pages/Archive.zip
._.DS_Store*
WEB-INF/logs/application.log.*
/WEB-INF/logs/application.log.1
/WEB-INF/logs/application.log.2
/WEB-INF/logs/application.log.3
/WEB-INF/logs/application.log.4
/WEB-INF/logs/application.log.5
