
 <style>
     #calendarConatiner > h4{
         font-size:0.7em;
     }
 </style>
<div   
    ng-style="{'top':((defaultOffSet*2))+'px', 'height':$root.calendarShow ? ((innerHeight)-(defaultOffSet*2))+'px':'0px','opacity':$root.calendarShow ? '1':'0' , 'transition-delay':$root.calendarShow ? '1s':'0s'}"  
     class=" calendar-container " style="width:100%; font-size:0.7em; z-index:99;" >	
    
	<div class=" calendar-header"   >
        <h4   ng-style="{'top':'73px', 'height':(defaultOffSet-18)+'px', 'background-color':$root.applicationHeaderColorSecondary}" 
            style="position:fixed;  width:100%; padding-top:15px; font-size:1em; left:0px; margin-top:0px; z-index:999999; color:#fff;width:100%; padding-right:20px;  ">
                    
                <span style=" width:100%; padding-left:40px; padding-right:12px;"> <strong>{{selections.year}} </strong>

                    <span ng-show="selections.dateToSee" ng-click="showSchedule = !showSchedule" 
                        class="pull-right" style="cursor:pointer">
                            Schedule 
                            <i ng-class="{'fa-toggle-on':showSchedule === true , 'fa-toggle-off':!showSchedule || showSchedule === false}" class="fa"></i> 
                    
                    </span>
                </span>
                    
        </h4>
              
               
        <div id="calendarContainer" ng-class="{'col-xs-12 col-md-6 col-xlg-6':scheduleShow && selections.dateToSee , 'col-xs-12 col-md-12 col-xlg-12':!scheduleShow && selections.dateToSee , 'col-xlg-12 col-md-12 col-xs-12':!scheduleShow  && !selections.dateToSee }">
            <div    
             
             ng-class="{'col-xs-12 col-md-12 col-xlg-12': selections.dateToSee , 'col-xlg-2 col-md-2 col-xs-12':!selections.dateToSee }"
             ng-init="getDaysInMonth($index, selections.year);  "
             ng-if="!loading"
             ng-hide="selections.dateToSee && calendarMonthSelected != includeZeroForNum($index+1)"
         
				ng-repeat="month in defaults.months track by $index"  
				style=" z-index:22;  margin:0 auto;   top:10px; border-radius:0px; min-height:250px;"  >
               
                    
                
                <div class="col-xs-12 col-md-12" style="background-color:rgba(0,0,0,0.4); padding:10px;" 
                     ng-style="{'border-top':calendarMonthSelected === includeZeroForNum($index+1) && selections.year == setYear  ? '5px solid orange':'1px solid transparent'}" >
                  
                     
                    <h4 style="color:#fff; font-size:1.2em;" >
                    <strong style="display:inline-block" >
                    {{month}}  
                    
                    </strong>
                     <span class="pull-right" style="display:block; position:absolute; right:0px; top:0px;">
                         
                          <span ng-show="selections.dateToSee"  class="pull-right" > 
                                <div   
                                    style="background-color:orange !important; cursor:pointer;padding:10px; font-size:0.7em; border:0px solid orange !important; position: absolute; right: 15px; top: 0px; border-radius: 0px;"
                                    ng-click="hasNum = []; selections.dateToSee = false; openEventCreate = false; selections.dateCreateNew = false; loadcalendarYearIsHere()" 
                                    ><i style="font-size:1em; font-weight:700;" class="fa fa-angle-up"></i></div>
                            </span>
                     </span>
                      
                    </h4>
                    

                    <p   class="text-center" ng-repeat="dayOfTheWeek in ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'] track by $index"  style="color:#fff; border-radius:0px; display:inline-block; min-width:14%; height:30px; width:14%; max-width:14%; margin:0 auto; border-bottom:1px solid #333;"><small>{{dayOfTheWeek}}</small></p>
                    
				 
				 
                    <div ng-id="days[$index]"  
                        ng-repeat="day in days[$index] track by $index" 
                        class="text-center"  
                        style="border-radius:0px; width:14%; color:#fff; max-width:14%; min-width:14%; padding:0px; display:inline-block;  cursor:pointer"
                        ng-style="{ 'margin-left':$index === 0 ? ((firstDayPosition[$parent.$index].length)*14)+'%':'0px'}"  
                        > 
                        
                        <span ng-repeat="row in table.data() track by $index" >
                            
                            <div 
                                ng-init="hasNum[selections.year][month][day]  = true;" 
                                ng-show="true" 
                                ng-if="day && month && selections.year && (day) === (((row['elements'][0]['name']+'').split('-')[2])-1) && ($parent.$parent.$parent.$index) === (((row['elements'][0]['name']+'').split('-')[1])-1) && selections.year === (((row['elements'][0]['name']+'').split('-')[0]))">
                                
                              
                            </div>
                            
                        </span>
                        
                        <div style="padding:0px;"
                            ng-click="showScheduleCard(selections.year,month,day, hasNum[selections.year][month][day] )"
                            ng-style="{'background-color':$index  === (dateNumber-1)  && $parent.$index === monthNow  && selections.year === setYear    ? 'orange':   hasNum[selections.year][month][day] ? 'steelblue':'rgba(0,0,0,0.4)'}"    >
                            <span ng-style="{'background-color':(($index)+1) === calendarDaySelected && selections.dateCreateNew ? 'rgba(255,255,255,0.2)':'rgba(255,255,255,0)'}" style="width:100%; display:block; height:auto; padding:5px;">
                            {{day+1}}  
                            <span class="pull-right" ng-show="(($index)+1) === calendarDaySelected && selections.dateCreateNew">
                                 <div ng-click="   createEvent(eventName) " data-toggle="modal" data-target=".bs-example-modal-xxlg"  style=" padding-right:10px; border-radius:0px;">
                                    <i class="fa fa-plus-circle"></i>
                                    
                            </div>
                                </span>
                            </span> 
                        </div> 
                    </div> 
			    </div> 
                <div ng-show="selections.dateToSee  " 
                        style="padding:0px; margin:0px; padding:0px;background-color:orange; display: inline-block;width: 100%;">
                          

                       <!-- <h4 style="color:#fff; margin:0px; padding:0px;">
                             
                            <span style=" padding:8px; padding-left:15px;  padding-right:15px;"> 
                               {{calendarDateSelected}}
                            
                             -->
                            <!--<div   class="pull-right" > 
                                <span style="color:#fff; cursor:pointer;"
                                ng-click="hasNum = []; selections.dateToSee = false; openEventCreate = false; selections.dateCreateNew = false;  " 
                                 >Save | </span>
                            </div> 
                            
                             </span> 
                             
                        </h4>-->
                        <div ng-show="openEventCreate" class="full-width" style="padding-left:15px; padding-right:15px; color:#fff;">
                           
                        <h4 style=" font-size:1.3em;">Create Event {{'#'+(itemDeleted+1)}}
                            <span class="pull-right">
                                      <div ng-if="selections.dateToSee && calendarMonthSelected === includeZeroForNum($index+1)" 
                                        ng-show="openEventCreate"
                                            style="  top:0px; vertical-align:top; right:0px; width:auto; ">
                                            <div ng-click="   createEvent(eventName) " class="btn btn-warning" style=" background-color:transparent !important; border-radius:0px; border:none !important">
                                            <i ng-if="openEventCreate" style="font-size:1em;" class="fa fa-times" area-hidden="true"></i>
                                            </div>
                                        </div>
                            </span>

                        </h4>
                          <p  
                            ng-repeat="item in ['1','2','3','4','5','6','7','8','9','10'] track by $index" 
                            ng-show="false">
                                
                                
                                <tm1-ui-dbr  
                                    ng-show="false"
                                    tm1-instance="{{instance}}"
                                    tm1-cube="{{cubeName}}"
                                    tm1-elements="Actual,{{returnDateInReverse(calendarDateSelected)}},{{user}},Item {{$index+1}},Status"    
                                    ng-model="eventName[$index]"
                                > 
                                </tm1-ui-dbr>
                             
                        </p>
                       
                        
                        <div
                            ng-if="eventName.length && eventName[$index] != null" 
                            ng-show="eventName[$index] === '' && $index > ((itemDeleted)-1) && $index <= (itemDeleted) "  
                            style="padding-bottom:20px;" 
                            ng-repeat="item in eventName track by $index" >
   
                            
                                 
                                <div ng-repeat="measure in ['Name','Description','icon','Action' ]" style="margin-top:10px;" >
                                    <label>{{measure}}: 
                                        <i  
                                             class="{{'fa '+(itemList[measure][($parent.$index)+1])  }}"></i>
                                        
                                    </label>
                                    <tm1-ui-dbr  
                                    
                                    tm1-instance="{{instance}}"
                                    tm1-cube="{{cubeName}}"
                                    tm1-elements="Actual,{{returnDateInReverse(calendarDateSelected)}},{{user}},Item {{($parent.$index)+1}},{{measure}}"    
                                     ng-model="itemList[measure][($parent.$index)+1]"
                                    > 
                                    </tm1-ui-dbr> 
                                  

                                   
                                </div>
                                 <label>Due Date:</label>
                                    <tm1-ui-dbr  
                                    
                                    tm1-instance="{{instance}}"
                                    tm1-cube="{{cubeName}}"
                                    tm1-elements="Actual,{{returnDateInReverse(calendarDateSelected)}},{{user}},Item {{($parent.$index)+1}},Due Date"    
                                    tm1-date-option="{format:'yyyy-mm-dd'}"
                                    tm1-default-empty=""
                                    tm1-placeholder="Enter new date"
                                    ng-model="itemList['Due Date'][($parent.$index)+1]"
                                    > 
                                    </tm1-ui-dbr> 
                                 
                                 <br>
                                  <button style="width:100%; text-align:center;" class="btn btn-primary" ng-class="{'disabled':itemList['Due Date'][($parent.$index)+1] === ''}" 
                                  ng-click="saveItem(row, ['Actual',returnDateInReverse(calendarDateSelected),user,'Item '+(($parent.$index)+1),'Status'], ['Actual',returnDateInReverse(calendarDateSelected),user,'Item '+(($parent.$index)+1),'Person in charge'])">SAVE</button>
                        </div>
                        
                    </div>
                    </div>
		    </div> 
        </div> 
    </div>
    <div class="container-cards  col-xlg-12 col-md-12 col-xs-12 "  
                    ng-show="showSchedule && !openEventCreate"  
                     
                    ng-style="{'top':defaultOffSet+'px', 'margin-bottom':0+'px'}"  
                    style="pointer-events: auto;   display: inline-block; position: relative; left: 0px; top: 50px; margin-bottom: 0px; " 
                   >
  
                    <div 
                        ng-class="{'col-xs-12 col-md-3 col-xlg-3': selections.dateToSee  } " 
                        class="card" 
                         
                        ng-repeat="row in table.data() track by $index"  
                        style="   border:none; color:#fff; min-height:140px !important; background-color:transparent;  vertical-align:top;  border:none;     " 
                        ng-style="{   'cursor':daysRemainingValue[row['Period Daily'].key][(row['elements'][1].name)] < 0 && daysRemainingValue[(row['Period Daily'].key+'end')][row.elements[1].name] >= 0 ? 'pointer':'unset', 'color':daysRemainingValue[row['Period Daily'].key] < 0 && daysRemainingValue[(row['Period Daily'].key+'end')][row.elements[1].name] >= 0 ? '#fff':'#fff'}"
                        ng-hide="!selections.dateToSee || selections.dateToSee && ( ( (calendarDateSelected+'').split('/')[2])+'-'+((calendarDateSelected+'').split('/')[1])+'-'+(calendarFilterDaySelected) ) != (row['elements'][0]['name'])"
                        ng-if="!loading"
                        ng-init="daysRemainingValue[row['Period Daily'].key][row.elements[1].name] = daysRemaining(row.elements[0].name);daysRemainingValue[row['Period Daily'].key+'end'][row.elements[1].name] =  daysRemaining(row.cells[6].value); "
                        >
                        <div 
                        class="col-xs-12 col-md-12 col-xlg-12 text-left"
                        ng-style="{ 'background-color':(daysRemainingValue[row['Period Daily'].key][(row['elements'][1].name)]) <= 0 && (daysRemainingValue[(row['Period Daily'].key+'end')][row.elements[1].name]) >= 0 ? 'green':(daysRemainingValue[row['Period Daily'].key][(row['elements'][1].name)] <= 5 && daysRemainingValue[row['Period Daily'].key][(row['elements'][1].name)] > 0 ? $root.applicationHeaderColorSecondary:(daysRemainingValue[row['Period Daily'].key][(row['elements'][1].name)] < 0 && daysRemainingValue[(row['Period Daily'].key+'end')][row.elements[1].name] < 0 ? 'rgba(0,0,0,0.4)':'rgba(0,0,0,0.4)'))}" 
                        style="  min-height:170px;height: auto;padding: 10px;display: inline-block;background-color: rgba(0, 0, 0, 0.4);">
                        
                            <div class="col-xs-12 col-md-12 col-xlg-12 text-left" style="  display:inline-block; float:left; margin:0 auto;">
                                   
                                   <div class="text-left" > {{row.elements[0].name}} |  Edit <span style="color:#fff; cursor:pointer; margin-left:5px;" ng-click="editMode = !editMode; editMode ? '':query(true)"><i class="fa " ng-class="{'fa-toggle-on':editMode , 'fa-toggle-off':!editMode}" area-hidden="true"></i> </span>
                                   <div class="pull-right" style="cursor:pointer;" ng-show="selections.dateToSee && ( ( (calendarDateSelected+'').split('/')[2])+'-'+((calendarDateSelected+'').split('/')[1])+'-'+(calendarFilterDaySelected) ) === row['elements'][0]['name']" > 
                                       <i style="font-size:1.3em;" ng-click=" deleteEvent(row,row.cells[0].reference())" class="fa fa-trash " area-hidden="true"> </i>
                                    </div>  
                                   </div>
                                      <div  ng-click="daysRemainingValue[row['Period Daily'].key][(row['elements'][1].name)] < 0 && daysRemainingValue[((row['Period Daily'].key)+'end')][(row['elements'][1].name)] >= 0 ?  openModal() : ''   " ng-class="{'text-left':selections.dateToSee ,'text-center':!selections.dateToSee || selections.dateToSee === false  }"  style="width:auto; margin-top:0px;">
                                       
                                        <div style="position: relative; margin-top:10px;  background-color: green; padding: 0px; " 
                                            ng-show="(daysRemainingValue[(row['Period Daily'].key)][(row['elements'][1].name)]) <= 0 && daysRemainingValue[((row['Period Daily'].key)+'end')][(row['elements'][1].name)] >= 0">
                                                 <i  class="fa fa-exclamation-circle blink"></i> {{daysRemainingValue[((row['Period Daily'].key)+'end')][(row['elements'][1].name)] >= 0 ? 'Ends in ':'Finised '}}{{(daysRemainingValue[((row['Period Daily'].key)+'end')][(row['elements'][1].name)]) +' day(s)'}} 
                                                 <br/>
                                        </div>
                                        <div style="position: relative; margin-top:10px;   background-color: orange; padding: 10px;  " 
                                            ng-show="daysRemainingValue[(row['Period Daily'].key)][(row['elements'][1].name)] > 0 && daysRemainingValue[(row['Period Daily'].key)][(row['elements'][1].name)] < 5 ">
                                           <i  class="fa fa-exclamation-circle blink"></i>  Starts in {{(daysRemainingValue[((row['Period Daily'].key))][(row['elements'][1].name)]) +' day(s)'}}  <br/>
                                        </div>
                                          

                                    </div>
                                    

                                   
                                  
                                    
                                    
                                </div>
                                <div class="col-md-12 col-xs-12  " ng-click="daysRemainingValue[row['Period Daily'].key][(row['elements'][1].name)] <= 0 && daysRemainingValue[((row['Period Daily'].key)+'end')][(row['elements'][1].name)] >= 0 ?  openModal() : ''   "
                                    ng-class="{'text-left':selections.dateToSee ,'text-center':!selections.dateToSee || selections.dateToSee === false } " 
                                    class="text-center " >
                                        <span class="text-center" style="width:100%;  display:block; height:auto;">
                                            <i style="font-size: 4vw;" class="fa {{row['icon'].value}} " aria-hidden="true"></i>
                                        </span>
                                   </div>
                                <div class="col-xs-12 col-md-12 col-xlg-12" style="  display:inline-block;  margin:0 auto; float:left;">
                                   
                                    
                                    
                                    <div  ng-show="selections.dateToSee && ( ( (calendarDateSelected+'').split('/')[2])+'-'+((calendarDateSelected+'').split('/')[1])+'-'+(calendarFilterDaySelected) ) === row['elements'][0]['name']" 
                                                ng-repeat="cell in row.cells track by $index" 
                                                class="text-left" > 
                                                <span  style="padding-right: 10px;">
                                                    <span   ng-hide="cell.key === 'icon' && !editMode">
                                                        <small>{{cell.key}}</small>: 
                                                        <span style="display:inline-block;  text-align:left;" ng-show="!editMode">
                                                            {{cell.value}} 
                                                        </span> 
                                                        <span style="display:inline-block; text-align:left; width:100%;" ng-show="editMode">
                                                            <tm1-ui-dbr  
                                        
                                                                tm1-instance="{{instance}}"
                                                                tm1-cube="{{cubeName}}"
                                                                tm1-elements="{{(cell.reference()).toString()}}"    
                                                                
                                                                
                                                                > 
                                                            </tm1-ui-dbr> 
                                                        </span>
                                                    </span>
                                                </span>

                                    </div> 
                                          
                                </div>
                                </div>
                            </div>
                
                        <div>
                        
                    </div>

             

             
       
                </div>
            </div>

          
 
         
 