<div ng-controller="infinitefreezepaneCtrl" resize>

<style>
.table > thead > tr > th {
    vertical-align: top;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}
html, body{
	overflow:hidden;
}
  .fixedTable .table {
  background-color: white;
  width: 100% !important;
}

.fixedTable .table tr td,
.fixedTable .table tr th {
  min-width: 90px;
  width: 90px;
}

.fixedTable-body {
  overflow: scroll;
  width: 30%;
	box-shadow: 0px 3px 20px #555;
  height: 35vh;
  float: left;
}

.fixedTable-sidebar tr td {
  min-width: 33.33% !important;
  width: 33.33% !important
}

.fixedTable-sidebar {
  width: 70%;
  height: 35vh;
  float: left;
	box-shadow: 0px 3px 20px #555;
  overflow: auto;
}
#aside::-webkit-scrollbar{
  width:0px;
  height:0px;
}
.fixedTable-header {
  width: calc(30% - 17px) !important;
  height: 48px;
  margin-left: 50%;
  overflow: hidden;
	 
}

.fixedTable-sidebar-header {
  width: 70%;
 	height: 48px;
  float:left;
  overflow: hidden;
}

.fixedTable-sidebar-header th {
  min-width: 33.33% !important;
  width: 33.33% !important;
}
#aside::-webkit-scrollbar{
  width:0px;
  height:0px;
}
 #aside .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 0px;
  }
@media screen and (min-width: 768px){

.fixedTable .table tr td,
.fixedTable .table tr th {
  min-width: 100px;
  width: 100px;
}

.fixedTable-body {
	 
  overflow: scroll;
  width: 65%;
	box-shadow: 0px 3px 20px #555;
  height: 35vh;
  float: left;
}

.fixedTable-sidebar tr td {
  min-width: 33.33% !important;
  width: 33.33% !important
}

.fixedTable-sidebar {
  width: 35%;
  height: 35vh;
  float: left;
  overflow: auto;
	box-shadow: 0px 3px 20px #555;
}

.fixedTable-header {
  width: calc(65% - 17px) !important;
  height: 48px;
  margin-left: 35%;
  overflow: hidden;
}

.fixedTable-sidebar-header {
  width: 35%;
  height: 48px;
  float:left;
  overflow: hidden;
}
#aside::-webkit-scrollbar{
  width:0px;
  height:0px;
}
.fixedTable-sidebar-header th {
  min-width: 33.33% !important;
  width: 33.33% !important;
}

  #aside .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
  }
   #dynamic-table .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 0px;
  }
}
.negative{
  color:red
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border: 0;
}
</style>
  <span  ng-if="!loading">
    <tm1-ui-element-list tm1-instance="dev" ng-if="$root.rowDriver != 'Year' || $root.rowDriver != 'Version'" tm1-dimension="{{$root.rowDriver}}" tm1-subset="Default" tm1-attributes="Description" ng-model="page.rowDimensions"></tm1-ui-element-list>
    <tm1-ui-element-list tm1-instance="dev" ng-if="$root.rowDriver === 'Product'" tm1-dimension="{{$root.rowDriver}}"  tm1-subset="Default" tm1-attributes="Description" ng-model="page.rowDimensions"></tm1-ui-element-list>
    <tm1-ui-element-list tm1-instance="dev" ng-if="$root.columnDriver === 'Year' || $root.columnDriver === 'Version'  " tm1-dimension="{{$root.columnDriver}}"  tm1-subset="Default" tm1-attributes="Caption_Default" ng-model="page.columnDimension"></tm1-ui-element-list>
   <tm1-ui-element-list tm1-instance="dev" ng-if="$root.columnDriver === 'Period' " tm1-dimension="{{$root.columnDriver}}"  tm1-subset="Default" tm1-attributes="Short Description" ng-model="page.columnDimension"></tm1-ui-element-list>
  </span>

 
  <div class="row" id="table"style="padding-top:130px;" >
      
       

        <span class="col-md-6 col-xs-6" style="padding:10px ; padding-right:20px;" >
        Cube Used:
        <select ng-model="cubeUsed" ng-change="  dataRefreshAllMonth()">
          <option ng-repeat="item in listOfCubes" value="{{item}}">{{item}}</option> 
      </select>
     
        
        </span>
    <span  class="col-md-6 col-xs-6">
        <span style="float:right">
        <tm1-ui-export 
          tm1-target-id="af1" 
          tm1-output-name="{{$root.rowDriver}}-{{$root.date}}" 
          tm1-field-separator="" 
          tm1-field-qualifier="" 
          tm1-locale="">
        </tm1-ui-export>
        </span>
        </span>
    <div class="col-lg-12 col-xs-12">
         
      <div id="tablescroll" ng-if="!loading && page.rowDimensions && $root.selections.year && page.columnDimension " class="fixedTable" ng-init="loadFirst(table.data());"  >
       
        <header class="fixedTable-sidebar-header">
          <table class="table table-striped"  >
            <thead>
              <tr>
                 
                <th style=" min-width:250px; !important; overflow:hidden; background-color:#fff;"  >
							 
                <input type="text" style="height:42px; padding-left:18px;" ng-model="page.filter" class="form-control" placeholder="Search {{$root.rowDriver}}..." ng-change="table.refresh()"/>
                 
                 
                 
                  <div  style="position:absolute; top:8px; left:15px; width:20px; height:41px; overflow:hidden; z-index:1; background-color:#555;" 
                        
                        ng-click="rowEdit === true ? closeRowElement($event) : openRowElement($event)">
                      <span style="pointer-events:none;   padding:4px;  float: right;"> 
                        <i class="fa fa-ellipsis-v" style="color:#fff"></i></span>
                          <table ng-show="rowEdit === true" class="table table-striped"    >
                            <tbody  >
                              
                              <tr ng-repeat="item in cubeDimensions" ng-if="$index > 3 &&  $index < 7" ng-show="item != $root.rowDriver && item != 'Period' && item != 'Year' && item != 'Version'  ">
                                <td ng-click=" dataRefresh(item)" ng-if="rowEdit === true"  >{{item}}</td> 
                              </tr>

                              <!--<tr>
                                <td ng-click=" dataRefresh('Region')" ng-show="'Region' != $root.rowDriver" ng-if="rowEdit === true"  >Region</td> 
                              </tr>
                              <tr >
                                <td ng-click=" dataRefresh('Department')"  ng-show="'Department' != $root.rowDriver" ng-if="rowEdit === true"  >Department</td> 
                              </tr>
                              <tr >
                                <td ng-click=" dataRefresh('Account')"  ng-show="'Account' != $root.rowDriver" ng-if="rowEdit === true"  >Account</td> 
                              </tr>-->
                            </tbody> 
                          </table>
                    </div>

                  <div  style="position:absolute; top:8px; right:15px; width:20px; height:41px; overflow:hidden; z-index:1; background-color:#555;" 
                      ng-mouseleave=" " 
                      ng-click="columnEdit === true ? closeColumnElement($event) : openColumnElement($event)">
                     <span style="pointer-events:none;   padding:4px;  "> <i class="fa fa-ellipsis-v" style="color:#fff"></i></span>
                        <table ng-show="columnEdit === true" class="table table-striped"    >
                          <tbody  >
                             
                            <tr ng-repeat="item in cubeDimensions" ng-show="item != $root.columnDriver && $index < 3 " >
                              <td ng-click=" dataRefreshColumn(item)" ng-if="columnEdit === true"  >{{item}}</td> 
                            </tr> 
                            <!--<tr>
                              <td ng-click=" dataRefreshColumn('Version')" ng-if="columnEdit === true"   > Version </td>
                            </tr>
                            <tr>
                              <td ng-click=" dataRefreshColumn('Year')" ng-if="columnEdit === true"   > Years </td>
                            </tr>
                            <tr>
                              <td ng-click=" dataRefreshColumn('Period')" ng-if="columnEdit === true"   > Period </td>
                            </tr>-->
                          </tbody> 
                        </table>
                  </div>
                </th>
								<th class="text-center" class="tm1-ui-sortable" ng-class="table.sortClass('AllMonths')" style="cursor:pointer;"  >
                  
                  <span  ng-click="table.sort('AllMonths');   ">All Months </span>

                   <span ng-if="table.isSorted() === 'AllMonths'"   class="inline-block-right"> 
                    <i ng-click="clearSort();" class="fa fa-times"></i>
                    </span>
                </th>
              </tr>
            </thead>
          </table>
        </header>
 
        <header class="fixedTable-header">
          <table class="table table-striped">
            <thead>
              <tr>
                
                <th ng-init="returnedName = createModel(item, item.key, item.alias)" ng-repeat="item in page.columnDimension track by $index" class="text-center tm1-ui-sortable"  ng-class="table.sortClass(returnedName)" style="cursor:pointer;"   >
                  
                  <span  ng-click="table.sort(returnedName); "  >
                    {{(item.alias === '' ? item.key : item.alias) }}</span>
                     
                     <span ng-if="table.isSorted() === returnedName "   class="inline-block-right"> 
                    <i ng-click="clearSort();" class="fa fa-times"></i>
                    </span>

                </th>
                  
                 
              </tr>
            </thead>
          </table>
        </header>
 
        <aside id="aside" class="fixedTable-sidebar" style="height:{{getHeight()}}px;"   >
           	 
          <table class="table table-striped"  >
            <tbody>
              <tr   ng-repeat="row in  (table.data() | filter:page.filter) | limitTo:config.itemsDisplayedInList track by $index">
                
                <td class="row-height-ind">{{row.alias ==='' ? row.key : row.alias}} 
                <!--<div id="pop-up-{{$index}}" class="inline-block-right"
                      style="position:relative;  width:20px; height:20px; overflow:hidden;  background-color:#555;" 
                        
                        >
                       <span style="position:absolute;  left:0px; padding-left:8px; " ng-click="cellEdit[$index] === true ? closeCellElement($event, $index) : openCellElement($event, $index)" ><i class="fa " ng-class="cellEdit[$index] === true ? 'fa-times':'fa-ellipsis-v'" style="color:#fff"></i></span>
                        <table   ng-show="cellEdit[$index] === true" class="table table-hover"  style="z-index:99; margin-top:20px;">
                          <tbody  >
                            

                            <tr ng-repeat="item in cubeDimensions" ng-show="item != $root.rowDriver && item != 'Period'   ">
                              <td ng-if="cellEdit[$parent.$index]  === true"  >{{item}}</td> 
                            </tr>
                            
                          </tbody>
                            
                        </table>
              </div>-->

                </td>
              <td class="text-right" ng-class="row['AllMonths'] < 0 ? 'negative':''">
                    <tm1-ui-dbr 
									tm1-instance="dev"  
                  ng-if="cubeUsed === 'General Ledger'"
									tm1-cube="{{cubeUsed}}" 
									tm1-data-decimal="0" 
									tm1-read-only="true"
                  tm1-elements="Actual,{{$root.selections.year}},All Months,Local,{{$root.rowDriver === 'Region' ? row.key: $root.selections.region}},{{$root.rowDriver === 'Department' ? row.key: $root.selections.department}},{{$root.rowDriver === 'Account' ? row.key:  defaults.account}},Amount" 
                   
                  ng-model="row['AllMonths']"></tm1-ui-dbr > 

                   <tm1-ui-dbr  ng-if="cubeUsed === 'Retail'"
									tm1-instance="dev" 
									tm1-cube="{{cubeUsed}}" 
									tm1-data-decimal="0" 
									tm1-read-only="true"
                  tm1-elements="Actual,{{$root.rowDriver === 'Year' ? row.key : $root.selections.year}},All Months,Local,{{$root.rowDriver === 'Region' ? row.key : $root.selections.region}},{{$root.rowDriver === 'Product' ? row.key: defaults.product}},Sales Amount"  
                  ng-model="row['AllMonths']"></tm1-ui-dbr > 
                   
                </td> 
                
              </tr>
            </tbody>
          </table>
        </aside>
 
				<div id="dynamic-table" class="fixedTable-body" style="height:{{getHeight()}}px; ">
          <table  class="table table-striped" style="height:{{getHeight()}}px;" id="af1" >
            <tbody>
              <thead ng-show="false">
                <tr >
                   <th 
											ng-show="false" 
											style="width:33.33% !important; min-width:33.33%; max-width:33.33% !important; overflow:hidden;" 
											class="tm1-ui-sortable" 
											ng-class="table.sortClass('key')" 
											ng-click="table.sort('key')" >
                      {{$root.rowDriver}} 
										</th>
										<th ng-show="false">All Months</th>
										<th ng-repeat="item in page.columnDimension">{{(item.alias === '' ? item.key : item.alias) }}</th> 
                </tr>
              </thead>
              <tr ng-if="rowHeightArray.length"  
							style="height:{{rowHeightArray[$index]}}px !important; max-height:{{rowHeightArray[$index]}}px !important; min-height:{{rowHeightArray[$index]}}px !important; "  
							ng-repeat="row in  (table.data()  | filter:page.filter)  | limitTo:config.itemsDisplayedInList track by $index">
                 
                <td  ng-show="false">{{row.alias}}</td>
                
                <td ng-show="false">
                  
                  <tm1-ui-dbr 
									tm1-instance="dev"  
                  ng-if="cubeUsed === 'General Ledger'"
									tm1-cube="{{cubeUsed}}" 
									tm1-data-decimal="0" 
									tm1-read-only="true"
                  tm1-elements="Actual,{{$root.selections.year}},All Months,Local,{{$root.rowDriver === 'Region' ? row.key: $root.selections.region}},{{$root.rowDriver === 'Department' ? row.key: $root.selections.department}},{{$root.rowDriver === 'Account' ? row.key: 4}},Amount" 
                    ></tm1-ui-dbr> 
                  
                   <tm1-ui-dbr 
									tm1-instance="dev"  
                  ng-if="cubeUsed === 'Retail'"
									tm1-cube="{{cubeUsed}}" 
									tm1-data-decimal="0" 
									tm1-read-only="true"
                  tm1-elements="Actual,{{$root.selections.year}},All Months,Local,{{$root.rowDriver === 'Region' ? row.key: $root.selections.region}},{{$root.rowDriver === 'Product' ? row.key: 'All Products by Category'}},Sales Amount" 
                    ></tm1-ui-dbr> 
                   
                </td>
                <td  ng-repeat="column in page.columnDimension" class="text-right" ng-class="row[returnedName] < 0 ? 'negative':''"   ng-init="returnedName = createModel(row, column.key, column.alias);" >
                  
                  <tm1-ui-dbr tm1-instance="dev" tm1-cube="{{cubeUsed}}" tm1-data-decimal="0" 
                   ng-if="cubeUsed === 'Retail'" 
                  tm1-elements="{{$root.columnDriver === 'Version' ? column.key:'Actual'}},{{$root.columnDriver === 'Year' ? column.key : $root.selections.year}},{{$root.columnDriver === 'Period' ? column.key :'All Months'}},Local,{{$root.rowDriver === 'Region' ? row.key: $root.selections.region}},{{$root.rowDriver === 'Product' ? row.key: 'All Products by Category'}},Sales Amount" 
                  tm1-format-percentage="returnedFormat"
                  ng-init="returnedName = createModel(row, column.key, column.alias); returnedFormat = isColumnPercentage(column.key)"
                  ng-model="row[returnedName]"
                  
                  ></tm1-ui-dbr> 

                   <tm1-ui-dbr tm1-instance="dev" tm1-cube="{{cubeUsed}}" ng-if="cubeUsed === 'General Ledger'" tm1-data-decimal="0"   
                   
                  tm1-elements="{{$root.columnDriver === 'Version' ? column.key:'Actual'}},{{$root.columnDriver === 'Year' ? column.key : $root.selections.year}},{{$root.columnDriver === 'Period' ? column.key :'All Months'}},Local,{{$root.rowDriver === 'Region' ? row.key: $root.selections.region}},{{$root.rowDriver === 'Department' ? row.key: $root.selections.department}},{{$root.rowDriver === 'Account' ? row.key: 4}},Amount" 
                  tm1-format-percentage="returnedFormat"
                  ng-init="returnedName = createModel(row, column.key, column.alias); returnedFormat = isColumnPercentage(column.key)"
                  ng-model="row[returnedName]"
                  
                  ></tm1-ui-dbr>  
                </td>
                 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

   
</div>


 <div class="modal fade" id="myModal" role="dialog" ng-init="$root.pageLoaded()">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body" id="chart"  >
         
								<tm1-ui-chart  ng-mousemove="$root.doMouseOver($event)" ng-mouseleave="$root.doMouseOut($event)"  tm1-chart-type="lineWithFocus" tm1-height="300" tm1-margin="chart.margin" tm1-data-decimal="0" ng-model="values.data">
                    
                    <tm1-ui-chart-dbr ng-repeat="month in ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']" 
										tm1-label="{{month}}" tm1-series="Mountain Bikes" tm1-instance="dev" tm1-cube="Retail" 
										tm1-elements="Actual,{{$root.defaults.year}},{{month}},Local,{{$root.defaults.region}},Mountain Bikes,Sales Amount"></tm1-ui-chart-dbr>
                      
                    <tm1-ui-chart-dbr ng-repeat="month in ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']" 
										tm1-label="{{month}}" tm1-series="Touring Bikes" tm1-instance="dev" tm1-cube="Retail" 
										tm1-elements="Actual,{{$root.defaults.year}},{{month}},Local,{{$root.defaults.region}},Touring Bikes,Sales Amount"></tm1-ui-chart-dbr>   
                    
                    <tm1-ui-chart-dbr ng-repeat="month in ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']" 
										tm1-label="{{month}}" tm1-series="Road Bikes" tm1-instance="dev" tm1-cube="Retail" 
										tm1-elements="Actual,{{$root.defaults.year}},{{month}},Local,{{$root.defaults.region}},Road Bikes,Sales Amount"></tm1-ui-chart-dbr>
                      
								</tm1-ui-chart>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


</div>