<div ng-controller="NamedMdxCtrl" ng-if="$root.user.Name && $root.selections.year && $root.selections.region && $root.selections.department"   >
	 

		<style>

		


 
		 
		 
				/*
				##Device = Desktops
				##Screen = 1281px to higher resolution desktops
				*/
		
				@media (min-width: 1281px) {
				.min-width250{ min-width: 150px !important;  width: 150px !important;  max-width: 150px !important; }
				
				
				}
		
				/* 
				##Device = Laptops, Desktops
				##Screen = B/w 1025px to 1280px
				*/
		
				@media (min-width: 1025px) and (max-width: 1280px) {
				
				.min-width250{min-width: 150px !important;  width: 150px !important;  max-width: 150px !important; }
				
				}
		
				/* 
				##Device = Tablets, Ipads (portrait)
				##Screen = B/w 768px to 1024px
				*/
		
				@media (min-width: 768px) and (max-width: 1024px) {
				
				.min-width250{ min-width: 100px !important;  width: 100px !important;  max-width: 100px !important; }
				
				}
		
				/* 
				##Device = Tablets, Ipads (landscape)
				##Screen = B/w 768px to 1024px
				*/
		
				@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
				
				.min-width250{ min-width: 100px !important;  width: 100px !important;  max-width: 100px !important; }
				
				}
		
				/* 
				##Device = Low Resolution Tablets, Mobiles (Landscape)
				##Screen = B/w 481px to 767px
				*/
		
				@media (min-width: 481px) and (max-width: 767px) {
				
				.min-width250{ min-width: 100px !important;  width: 100px !important;  max-width: 100px !important;}
				
				}
		
				/* 
				##Device = Most of the Smartphones Mobiles (Portrait)
				##Screen = B/w 320px to 479px
				*/
		
				@media (min-width: 320px) and (max-width: 480px) {
				
				.min-width250{min-width: 100px !important;  width: 100px !important;  max-width: 100px !important; }
				
				}
		
				.min-width100{
					max-width:70px !important; 
					width:70px !important; 
					min-width:70px !important; 
					
				}
				 
			</style>
			 
	  <div id="one" ng-init="startAllFiltersAreHere()">
			
			<super-cube-view ng-if="$root.mdxParameters"
				panel-heading="Options | MDX Table"
				tm1-instance = "{{$root.defaults.settingsInstance}}"
				cube-name = "{{$root.cubeName}}" 
				cube-mdx = "{{$root.mdxId}}"
				cube-mdx-params = "{{$root.mdxParameters}}"
				attribute-options="{{$root.attributeOptions}}"  
				table-height-bottom-offset="30"
				table-width="100%"
				chart-height="300"
				table-left="0"
				table-top="139"
				table-dimension-column-class="min-width250"
				table-data-column-class="min-width100"
				table-id="one"
				rows-to-load = "50"
				hide-chart-as-option=""
				hide-table-upload-as-option=""
				chart-visible=""
				table-visible=""
				custom-page = "SuperCubeViewMdxCustomPage"
				> 
			</super-cube-view>	
			 
		</div>  
	 
			  
		 
			 
	
			 
		 
	
			 
			 
		 
	</div>

	
<div id="dimensionEditor" class="modal fade bs-example-modal-xxlg"  >
 
        <div class="modal-dialog" role="document">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" ng-click="$root.editModalOpened = false;" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">{{$root.dimensionSelectedToEdit}} </h4>
        </div>
        <div class="modal-body">
				     	
				<table id="test-element-list-item-display" class="table table-hover">
					 
					<tbody ng-if="$root.editModalOpened">
						<tr  ng-if="!$root.subsetModal" 
							ng-repeat="item in $root.dimensionElementsArray[$root.dimensionSelectedToEdit] track by $index ">
							<td ng-click="$root.selectedElementIndex[$root.dimensionSelectedToEdit] = ($index+1); $root.getDimensionalityArrays()" style="cursor:pointer"
							ng-style="{'background-color':$root.selectedElementIndex[$root.dimensionSelectedToEdit] == ($index+1) ? 'steelblue':'','color':$root.selectedElementIndex[$root.dimensionSelectedToEdit] == ($index+1) ? '#fff':'steelblue' }">
							<tm1-ui-dbra ng-show="false" 
							 ng-if="!$root.loading && $root.dimensionSelectedToEdit && (item.Name).indexOf('}') === -1 && (item.Name).indexOf(']') === -1 && (item.Name).indexOf(',') === -1"
							tm1-instance="{{$root.defaults.settingsInstance}}"
							tm1-dimension="{{$root.dimensionSelectedToEdit}}"
							tm1-element=' {{item.Name}}'
							tm1-attribute="{{$root.attributeOptions['alias'][$root.dimensionSelectedToEdit]}}"
							ng-model="$root.dimName[$root.dimensionSelectedToEdit][$index]"
							>
						 </tm1-ui-dbra>
							{{$root.dimName[$root.dimensionSelectedToEdit][$index] ? $root.dimName[$root.dimensionSelectedToEdit][$index]   : item.Name}}</td>
							 
						</tr>
						<tr  ng-if="$root.subsetModal" ng-repeat="item in $root.dimensionSubsetsArray[$root.dimensionSelectedToEdit]  track by $index ">
								<td ng-click="$root.selectedSubsetsIndex[$root.dimensionSelectedToEdit] = ($index); $root.getDimensionalityArrays()" style="cursor:pointer"
								ng-style="{'background-color':$root.selectedSubsetsIndex[$root.dimensionSelectedToEdit] === ($index) ? 'steelblue':'','color': $root.selectedSubsetsIndex[$root.dimensionSelectedToEdit] == ($index) ? '#fff':'steelblue' }">
								 
								   {{$root.dimensionSubsetsArray[$root.dimensionSelectedToEdit][$index].Name}}  
								    
							</tr>
					</tbody>
					
				</table>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
    </div>