<div ng-controller="NamedMdxCtrl" ng-if="$root.user.Name && $root.selections.year && $root.selections.region && $root.selections.department"   >
	 

		<style>

		


 
		 
		 
				/*
				##Device = Desktops
				##Screen = 1281px to higher resolution desktops
				*/
		
				@media (min-width: 1281px) {
				.min-width250{ min-width: 150px !important;  width: 150px !important;  max-width: 150px !important; }
				
				
				}
		
				/* 
				##Device = Laptops, Desktops
				##Screen = B/w 1025px to 1280px
				*/
		
				@media (min-width: 1025px) and (max-width: 1280px) {
				
				.min-width250{min-width: 150px !important;  width: 150px !important;  max-width: 150px !important; }
				
				}
		
				/* 
				##Device = Tablets, Ipads (portrait)
				##Screen = B/w 768px to 1024px
				*/
		
				@media (min-width: 768px) and (max-width: 1024px) {
				
				.min-width250{ min-width: 100px !important;  width: 100px !important;  max-width: 100px !important; }
				
				}
		
				/* 
				##Device = Tablets, Ipads (landscape)
				##Screen = B/w 768px to 1024px
				*/
		
				@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
				
				.min-width250{ min-width: 100px !important;  width: 100px !important;  max-width: 100px !important; }
				
				}
		
				/* 
				##Device = Low Resolution Tablets, Mobiles (Landscape)
				##Screen = B/w 481px to 767px
				*/
		
				@media (min-width: 481px) and (max-width: 767px) {
				
				.min-width250{ min-width: 100px !important;  width: 100px !important;  max-width: 100px !important;}
				
				}
		
				/* 
				##Device = Most of the Smartphones Mobiles (Portrait)
				##Screen = B/w 320px to 479px
				*/
		
				@media (min-width: 320px) and (max-width: 480px) {
				
				.min-width250{min-width: 100px !important;  width: 100px !important;  max-width: 100px !important; }
				
				}
		
				.min-width100{
					max-width:70px !important; 
					width:70px !important; 
					min-width:70px !important; 
					
				}
				 
			</style>
			 
		<!-- <div id="one" ng-init="startAllFiltersAreHere()">
			
			<super-cube-view ng-if="$root.mdxParameters"
				tm1-instance = "dev"
				cube-name = "{{$root.cubeName}}" 
				cube-mdx = "{{$root.mdxId}}"
				cube-mdx-params = "{{$root.mdxParameters}}"
				attribute-options="{{$root.attributeOptions}}"  
				table-height-bottom-offset="30"
				table-width="100%"
				table-left="0"
				table-top="139px"
				table-dimension-column-class="min-width250"
				table-data-column-class="min-width100"
				table-id="one"
				rows-to-load = "50"
				chart-visible=""
				table-visible=""
				custom-page = "SuperCubeViewMdxCustomPage"
				> 
			</super-cube-view>	
			 
		</div> -->
	 
			 
					 <div   id="three"  style="overflow:hidden !important; background-color:#fff;">
			
				<super-cube-view 
				tm1-instance = "dev"
				cube-name = "{{$root.cubeName}}" 
				cube-mdx = "{{$root.mdxId}}"
				cube-mdx-params = "{{$root.mdxParameters}}"
				attribute-options="{{$root.attributeOptions}}"  
				table-height-bottom-offset="30"
				table-width="100%"
				table-left="0"
				table-top="490"
				chart-height="0"
				table-dimension-column-class="min-width250"
				table-data-column-class="min-width100"
				table-id="three"
				rows-to-load = "50"
				chart-visible=""
				table-visible=""
				hide-chart-as-option= "true"
				custom-page = ""
					> 
				</super-cube-view>	
				 
			</div>  
		<div id="one" ng-init="startAllFiltersAreHere()"  style="background-color:#fff;">
			
			<super-cube-view ng-if="$root.mdxParameters"
				tm1-instance = "dev"
				cube-name = "{{$root.cubeName}}" 
				cube-mdx = "{{$root.mdxId}}"
				cube-mdx-params = "{{$root.mdxParameters}}"
				attribute-options="{{$root.attributeOptions}}"  
				table-height-bottom-offset="30"
				table-width="50%"
				table-left="0"
				table-top="139"
				table-height="490"
				chart-height="300"
				table-dimension-column-class="min-width250"
				table-data-column-class="min-width100"
				table-id="one"
				rows-to-load = "50"
				chart-visible="true"
				table-visible="true"
				custom-page = ""
				> 
			</super-cube-view>	
			 
		</div>
		 <div   id="two"  style="background-color:#fff;">
			
			<super-cube-view 
			tm1-instance = "dev"
			cube-name = "{{$root.cubeName}}" 
			cube-mdx = "{{$root.mdxId}}"
			cube-mdx-params = "{{$root.mdxParameters}}"
			attribute-options="{{$root.attributeOptions}}"  
			table-height-bottom-offset="30"
			table-width="50%"
			table-left="50%"
			table-top="139"
			table-height="490"
			chart-height="300"
			table-dimension-column-class="min-width250"
			table-data-column-class="min-width100"
			table-id="two"
			rows-to-load = "50"
			chart-visible="true"
			table-visible="true"
			 
			custom-page = "SuperCubeViewMdxCustomPage"
				> 
			</super-cube-view>	
			 
		</div> 

		 
			 
	
			 
		 
	
			 
			 
		 
	</div>