<div ng-controller="stickyheaderCtrl">
<style>
	body,html{
		overflow:hidden;
	}
	.stickyContainer{
		padding-top:0px;
		position:fixed;
		left:0px;
		top:182px;
		width:100%;
		max-height:100%;
		overflow:auto; 
	}
	.min-width250{
		min-width: 250px;
		
	}
	.fixed-container{
	 
		pointer-events: none;
		padding:0px;
		position:fixed;
		top:182px;
		left:0px;
		width:100%;
		height:auto;
		z-index:2;
		display:block;
		background-color: transparent;
		color:#333;
		 
		overflow:hidden;
	}
	.sticky-header{ 
			opacity:0;
		background-color:#fff;  
		color:#333;
	}
	.fixedFirstColHeader{
		position:fixed;
		left:0px;
		z-index:33;
		background-color:#fff;
		display: none;
	}
	.selected-bg{
		background-color: #4F81BD;
		color:#fff;
	}
	 

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: darkred; stroke-width: 2px; }
.bullet .axis line, .bullet .axis path { stroke: #666; stroke-width: .5px; fill: none; }
.bullet .range.s0 { fill: rgba(70, 130, 180, 0); }
.bullet .range.s1 { fill: rgba(70, 130, 180, 0);   }
.bullet .range.s2 { fill: rgba(255,255,255,0);   }
.bullet .measure.d0 { fill:  #7F7F7F }
 
.bullet .actual.a { fill:  #4F81BD }
 
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }
 



	 
</style>

<tm1-ui-element-list tm1-instance="{{mainData['instance']}}"   tm1-dimension="{{mainData['rowDimension']['name']}}" tm1-subset="{{$root.selections.subset}}" ng-model="lists.account" tm1-attributes="{{mainData['rowDimension']['attributes']}}"></tm1-ui-element-list>           	
<tm1-ui-element-list tm1-instance="{{mainData['instance']}}" tm1-dimension="{{mainData['colDimension']['name']}}" tm1-subset="{{mainData['colDimension']['subset']}}" ng-model="lists.months" tm1-attributes="{{mainData['colDimension']['attributes']}}"></tm1-ui-element-list>           	
 

	  
      	
		  <div id="stickyContainer" 
			class="stickyContainer" 
			ng-style="{'height': setTableHeight('stickyContainer')+'px'}"> 
			<div class="fixedFirstColHeader" 
			ng-style="{'top':getContainerTop('fixed-container')+'px', 'height':getContainerHeight('headContent')+'px'} " >
					 
								 
					<div ng-style="{'width': getContainerWidth('columnWidthDim')+'px', 'height':getContainerHeight('columnWidthDim')+'px'} " class="text-left min-width250" 
						style="display:inline-block; margin: 0 auto;  padding:5px; 	border: 1px solid #ddd;   float:left; ">
						  		
								  
								<button 
									class="btn btn-primary" 
									id="subsetSelect"  
									ng-click="  subsetSelected = !subsetSelected"
									 >
									 <i ng-class="{'fa-times':subsetSelected,'fa-list':!subsetSelected }" class="fa " style="color:#fff"></i>
									 
								</button>
								 

								<input class="form-control" 
								style="background-color: #fff; width:79%; display:inline-block" 
								type="text" ng-model="page.searchAccount"   
								placeholder="Search {{mainData['rowDimension']['name']}}..."> 
								  
						</div>
			</div>
			<div class="fixed-container">
				<div id="sticky-header"   
					ng-style="{'width': getContainerWidth('headContent')+'px', 'height':getContainerHeight('headContent')+'px'} " 
					class="sticky-header">
					
						<div ng-style="{'width': getContainerWidth('columnWidthDim')+'px', 'height':getContainerHeight('columnWidthDim')+'px'} " class="text-left min-width250" 
						style="display:inline-block; margin: 0 auto;  padding:5px; 	border: 1px solid #ddd;   float:left; ">
						 
						</div>
						<div class="text-center" ng-style="{'width': getContainerWidth('columnWidth'+$index)+'px', 'height':getContainerHeight('columnWidth'+$index)+'px'} " 
						ng-repeat="item in lists.months track by $index" 
						style="background-color: #fff; 	border: 1px solid #ddd; display:inline-block; padding-top:0.5em;   margin: 0 auto; border-left:1px solid #ddd; float:left;">
							 {{item.alias}} 
						</div>
					
						
				</div>
			</div>
			<tbody ng-if="lists.months ">
				   
						<div class="col-md-12 col-xs-12">
									  

							 
							 <p class="pull-left" ng-style="{'height':getContainerHeight('bulletChartContainerDrop0')+'px'}" 
							 style="position:absolute;  display:inline-block; padding:10px; left:0px; top:0px;  width:250px; "  
							 >
							  
							 <!--<strong> 
								 <tm1-ui-dbra tm1-instance="{{mainData['instance']}}" 
								 tm1-dimension="{{mainData['rowDimension']['name']}}" 
								 tm1-element="{{$root.selections.account}}" 
								 tm1-attribute="Account Type" tm1-read-only="true"></tm1-ui-dbra> 
							</strong> <br>-->
							 <span ng-repeat="item in mainData['chart']['ledgend']">
								 <i ng-style="{'color':item.color}"   
								 class="fa fa-square fa-fw"></i> {{item.name}} <br>
							 </span>
							  <span style="position:absolute; width:80%; bottom:0px;  " ng-init="getSubsetList()">
								<!--<label for="subsetSelect">{{mainData['rowDimension']['name']}} Subset:</label>
								 <select class="btn btn-default" id="subsetSelect"  style="width:100%; border-radius:0px;" ng-if="lists.subsetList" ng-model="$root.selections.subset">
									<option ng-repeat="item in lists.subsetList track by $index" value="{{item['Name']}}">{{item['Name']}}</option>
								</select>-->
																	
							</span>
							</p>
							 
						</div>
					 
			  </tbody>
            <table  
              id="test-element-list-item-display" 
              class="table table-bordered">
			   
				<tbody ng-if="lists.months ">
					
					 
					<tr ng-if="!chartLoading" ng-show="mainData['debug']">
						<td  class="text-left min-width250"></td>
						<td ng-init="$root.chartValues[col.key] = [];" 
							class="text-right"
							ng-if="lists.account.length && lists.months.length && $root.selections.year && $root.selections.region && $root.selections.department"
							ng-repeat="col in lists.months track by $index">

							<tm1-ui-dbr
								tm1-instance="{{mainData['instance']}}"
								tm1-cube="{{mainData['cube']}}"
								tm1-elements="Actual,{{$root.selections.year}},{{col.key}},Local,{{$root.selections.region}},{{$root.selections.department}},{{$root.selections.account}},Amount"
								ng-model="$root.chartValues[col.key][0]"
								> 
							</tm1-ui-dbr>
							<tm1-ui-dbr
								tm1-instance="{{mainData['instance']}}"
								tm1-cube="{{mainData['cube']}}"
								tm1-elements="Budget,{{$root.selections.year}},{{col.key}},Local,{{$root.selections.region}},{{$root.selections.department}},{{$root.selections.account}},Amount"
								ng-model="$root.chartValues[col.key][1]"
									> 
							</tm1-ui-dbr>
							<tm1-ui-dbr
								tm1-instance="{{mainData['instance']}}"
								tm1-cube="{{mainData['cube']}}"
								tm1-elements="Last Year,{{$root.selections.year}},{{col.key}},Local,{{$root.selections.region}},{{$root.selections.department}},{{$root.selections.account}},Amount"
								ng-model="$root.chartValues[col.key][2]"
								> 
							</tm1-ui-dbr> 

							
							
							
						</td>
					</tr>
					<tr ng-if="lists.months" ng-show="false">
						<td  class="text-left min-width250"></td>
						<td ng-if="$root.chartValues[monthz.key].length === 3" 
						ng-init="loadChartValues($root.chartValues[monthz.key][0], $root.chartValues[monthz.key][1], $root.chartValues[monthz.key][2])" 
						ng-repeat="monthz in lists.months track by $index" >  
						</td>
								
					</tr>
					<tr  >
						 
						<td class="text-left" ng-style="{'height':offsetFromTop+'px'}"    >
							 
							<div class="text-right" id="bulletChartContainerDrop0"   > 
							</div>
							<my-bullet-chart 
									ng-if="$root.chartsDataLoaded && !chartLoading"
									tm1-instance="{{mainData['instance']}}"  
									cube-name="{{mainData['cube']}}" 
									title="0"
									driver="Allocated Hrs" 
									id-name="0" 
									ledgend="{{mainData['chart']['ledgend']}}"
									cell-set-get-array-val-one = "0"
									cell-set-get-array-val-two = "0"
									cell-set-get-array-val-three = "0"
									
							></my-bullet-chart> 
							 
							  
						</td>
						<td class="text-center" ng-if="!chartLoading" ng-style="{'height':offsetFromTop+'px'}" 
						ng-repeat="item in lists.months track by $index" >
						 <div  id="bulletChartContainerDrop{{$index+1}}"   > 
   
                         
                          
                      	</div>
						 <my-bullet-chart 
                                      ng-if="$root.chartsDataLoaded && $root.chartValues[item.key].length "
                                      tm1-instance="{{mainData['instance']}}"  
                                      cube-name="{{mainData['cube']}}" 
                                      title="{{item.alias}}"
                                      driver="Allocated Hrs" 
                                      id-name="{{$index+1}}" 
                                      ledgend="{{mainData['chart']['ledgend']}}"
                                      cell-set-get-array-val-one = "{{$root.chartValues[item.key][0]}}"
                                      cell-set-get-array-val-two = "{{$root.chartValues[item.key][1]}}"
                                      cell-set-get-array-val-three = "{{$root.chartValues[item.key][2]}}"
                                    
                          ></my-bullet-chart> 
						  </td>
					  </tr>
				  </tbody>
				   
            	<tbody id="headContent">
            		<tr>
            			<td id="columnWidthDim" class="text-left min-width250 colwidth" >
							<button style="display:inline-block; width:19%; margin:0px; float:left; left:0px; "
									class="btn btn-primary" 
									id="subsetSelect"  
									ng-click="subsetSelected = !subsetSelected; "
									 >
									 <i ng-class="{'fa-times':subsetSelected,'fa-list':!subsetSelected }" class="fa " style="color:#fff"></i>
									 
							</button>
							  <div ng-mouseleave="subsetSelected = false" ng-show="subsetSelected  && !$root.headerOutOffView "
							   style="  position:absolute; left:0px; top:372px; min-height:250px;max-height:400px;  margin:0px; padding:0px; background-color:#fff; overflow:auto;   background-color: #fff;" 
							   ng-style="{'height':getContainerHeight('bodyContent')+'px', 'width':getContainerWidth('columnWidthDim')+'px'}"
							  >

								<table class="table "  >
									<tr>
										<td>
											<strong>Subset Used:</strong>
										</td>
									</tr>
									<tr ng-repeat="item in lists.subsetList track by $index">
										<td  ng-style="{'background-color': $root.selections.subset === item.Name ? 'steelblue':'white' ,'color': $root.selections.subset === item.Name ? 'white':'#666'  }" 
										style="cursor:pointer; padding:10px;"  
										ng-click="$root.selections.subset = item.Name"
										  >{{item['Name']}}
										</td>
									</tr>
								</table>
								</div>
							<input class="form-control" style="width: 79%; display: inline-block; margin:0 auto; float:left;" type="text" 
							ng-change="page.searchAccountTwo = page.searchAccount"
							ng-model="page.searchAccount" placeholder="Search {{mainData['rowDimension']['name']}}...">        
 						</td>
            			<td class="text-center colwidth" id="columnWidth{{$index}}" ng-repeat="item in lists.months track by $index">
							{{item.alias}}
						</td>          			
            		</tr>
            	</tbody>
            	<tbody  id="bodyContent" ng-init="setUpStickyHeader();" 
				ng-if="lists.account.length && lists.months.length && $root.selections.year && $root.selections.region && $root.selections.department">
					
					<tr ng-repeat="row in lists.account | filter:page.searchAccount track by $index">
	            		<td style="cursor:pointer;" class="text-left min-width250" 
						ng-class="{'selected-bg':$root.selections.account === row.key}" 
						ng-click="$root.selections.account = row.key; refreshChart()">
								<tm1-ui-element-list-item tm1-item="row" tm1-item-display="{{row.alias}}"></tm1-ui-element-list-item>
						</td>
                  		<td class="text-right" ng-repeat="item in lists.months track by $index">
							<tm1-ui-dbr-read-only 
								tm1-instance="dev" 
								tm1-cube="General Ledger" 
								tm1-data-decimal="0" 
								tm1-read-only="true"
                  				tm1-elements="Actual,{{$root.selections.year}},{{item.key}},Local,{{$root.selections.region}},{{$root.selections.department}},{{row.key}},Amount">
							</tm1-ui-dbr-read-only>
										
						</td>
	            	</tr>
            	</tbody>
            	
            </table>
                 
           
          
        
    	 
      
    </div>          
  <div ng-show="$root.headerOutOffView && subsetSelected" 
  		style="   position:fixed; left:0px;   margin:0px; padding:10px;  background-color:#fff; overflow:auto; height:300px;  background-color: #fff;" 
		ng-mouseleave="subsetSelected = false"	
		ng-style="{'top':(getContainerTop('fixedFirstColHeader')+(225))+'px', 'width':getContainerWidth('columnWidthDim')+'px'}"		 >

								<table class="table "  >
									<tr>
										<td>
											<strong>Subset Used</strong>
										</td>
									</tr>
									<tr ng-repeat="item in lists.subsetList track by $index">
										<td  ng-style="{'background-color': $root.selections.subset === item.Name ? 'steelblue':'white' ,'color': $root.selections.subset === item.Name ? 'white':'#666'  }" 
										 style="cursor:pointer;"  
										 ng-click="  $root.selections.subset = item.Name"
										  >{{item['Name']}}
										</td>
									</tr>
								</table>
								</div>
								 
</div>