



<style>
    #custom-page{
        font-size:0.7em;
    }
#custom-page h3{
    font-size:1.3em !important;
    border-bottom:1px solid #666; padding-bottom:10px; line-height:1.3em; 
}
#custom-page h4{
    
    border-bottom:1px solid #666; padding-bottom:10px; line-height:1.3em; 
}
#custom-page h4{
    
    padding-left:10px;
    background-color: #f0efef;
    border-bottom:1px solid #666; 
    padding-bottom:10px;
    line-height:1.3em; 
}
.dropdown-item{
	cursor:pointer;
	text-align: left;
	padding-top:0px;
	padding-bottom:0px;
	border: 0px solid steelblue;
	border-top:2px solid steelblue;
}
textarea.ng-invalid {
    background-color:rgb(255, 255, 255);
    padding:10px;
}
textarea.ng-valid {
    background-color:rgb(255, 255, 255);
    border:1px solid steelblue;
    padding:10px;
}
.custom-page{
    background-color:#fff;
}
.form-group label {
    float: left;
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
</style>
<div id="custom-page" class="col-xs-12 col-md-12 custom-page" ng-show="customPage" ng-controller="supercubeviewmdxcustompageCtrl" ng-style="{'margin-top':(((getTableTop()+'').split('px').join(''))-35)+'px'}">
        
            
          
    <div class="col-xs-12 col-md-12" ng-init="changedOption = false;" > 
        <h3  >
            <i style="padding-right:10px" class="fa fa-cube"></i>MDX Parameters
             
            
                <span class="pull-right"  >   
                        <span style="font-size:1em; color:steelblue; background-color:transparent; padding:5px; padding-left:10px; padding-right:10px; border-radius:0px;"   ng-click="$root.useMdxNow = !$root.useMdxNow"> MDX <i    ng-class="{ 'fa-toggle-on':$root.useMdxNow,'fa-toggle-off':!$root.useMdxNow }" class="fa "></i></span>
                    </span>
        </h3>
    </div>
    
    <div class="col-xs-12 col-md-12"> 
                 
        <div class="col-xs-12 col-md-12 nopadding" ng-if="$root.useMdxNow" >    
                <h3 ng-if="$root.useMdxNow" >
                        <h4 style="padding-left:0px; padding-bottom:10px; padding-top:10px; margin:0px; background-color: #fff;  border-bottom:0px solid #fff;"> 
                         
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-btn"   
                                style=" background-color:steelblue !important; width:100%; font-size:0.7em; color:#fff; border-radius:0px; border:1px solid steelblue !important; text-align:left; cursor:pointer;";
                                data-toggle="dropdown" ng-click="showCubeList = !showCubeList" aria-haspopup="true" aria-expanded="false" 
                                 >
                                {{activeCubeName}} 
                                <span class="pull-right"> <i ng-class="{'fa-angle-down dropdown-arrow':!showCubeList, 'fa-angle-up dropdown-arrow':showCubeList}" class="fa  " aria-hidden="true"></i></span>	
                                </button>
                                <div ng-show="showCubeList" class="out-shadow"  
                                style="width:100%; position:absolute; margin-right:20px;  float:left; z-index: 9; color:steelblue;"> 
                                    
                                    <button ng-repeat= "cube in cubesAvailable track by $index" 
                                            ng-mouseover="cubeNameOver = cube.Name; "
                                            ng-mouseout="cubeNameOver = ''; "
                                            ng-style="{'background-color': cubeNameOver === cube.Name ? 'steelblue':'#fff', 'color':cubeNameOver === cube.Name ? '#fff':'steelblue'}"
                                            style="width:100%; font-size:0.7em;   cursor:pointer;" 
                                            ng-click=" changedOption = true; chooseCube(cube.Name);  formatMdxStringCube(cube.Name)   " class="dropdown-item"  >
                                            <span class="pull-left" style="margin-right:10px;">
                                                    <i ng-if="activeCubeName === cube.Name" class="fa fa-check dropdown-check" aria-hidden="true"></i>
                                            </span>
                                                <span >{{cube.Name}}</span> 
                                                 
                                         
                                    </button>  
                                </div>
                </h4>
                </h3>  
                <div   class="col-xs-12 col-md-12 " id="testApp"  style="margin-bottom:20px;" >
                        <div    class="col-xs-12 col-md-12 nopadding" style="border:1px solid #ccc;"  > 
                                <h4 style="padding-bottom:10px; padding-top:10px; font-size:1em; margin-top:0px;" 
                                ng-if="$root.useMdxNow" ng-init="formatMdxStringCube($root.cubeName)" >
                                         Filters: 
    
                                </h4>  
                                <div id="filters" class="col-xs-12 col-md-12"  style="padding-bottom:20px;"  ondrop="angular.element(document.getElementById('testApp')).scope().drop(event)" ondragover="angular.element(document.getElementById('testApp')).scope().allowDrop(event)">
                                        <span id="{{filterDimension}}"  draggable="true" ondragstart="angular.element(document.getElementById('testApp')).scope().drag(event)" style="margin:5px; font-size:1em; font-weight:400; line-height:1.2em;"  ng-repeat="filterDimension in filtersDimensionArray track by $index" class="badge badge-primary"> {{filterDimension}}</span>
                                </div>
                        </div>  
                    <div   class="col-xs-12 col-md-12 nopadding" style="border:1px solid #ccc;"  > 
                            <h4 style="padding-bottom:10px; padding-top:10px; font-size:1em; margin-top:0px;" 
                            ng-if="$root.useMdxNow" >
                                     Tiles: 

                            </h4>  
                            <div class="col-xs-12 col-md-12" id="tiles"  style="padding-bottom:20px; " ondrop="angular.element(document.getElementById('testApp')).scope().drop(event)" ondragover="angular.element(document.getElementById('testApp')).scope().allowDrop(event)"> 
                                    <span id="{{tileDimension}}"  draggable="true" ondragstart="angular.element(document.getElementById('testApp')).scope().drag(event)" style="margin:5px; font-size:1em; font-weight:400; line-height:1.2em;"  ng-repeat="tileDimension in tilesDimensionArray track by $index" class="badge badge-primary"> {{tileDimension}}</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6 nopadding" style="border:1px solid #ccc;" id="div1"  > 
                            <h4 style="padding-bottom:10px; padding-top:10px; font-size:1em; margin-top:0px;"ng-if="$root.useMdxNow" >
                                      Rows: 
                            </h4>  
                            <div class="col-xs-12 col-md-12" id="row"  style="padding-bottom:20px;" ondrop="angular.element(document.getElementById('testApp')).scope().drop(event)" ondragover="angular.element(document.getElementById('testApp')).scope().allowDrop(event)" >
                                    <span id="{{rowDimension}}"  draggable="true" ondragstart="angular.element(document.getElementById('testApp')).scope().drag(event)" style="margin:5px; font-size:1em; font-weight:400; line-height:1.2em;"  ng-repeat="rowDimension in rowDimensionArray track by $index" class="badge badge-primary"> {{rowDimension}}</span>
                            </div>
                    </div>
                    <div class="col-xs-6 col-md-6 nopadding" style="border:1px solid #ccc;" > 
                            <h4 style="padding-bottom:10px; padding-top:10px; font-size:1em; margin-top:0px;"   
                            ng-if="$root.useMdxNow" >
                                     Columns:  
                            </h4>  
                            <div class="col-xs-12 col-md-12" id="col"  style="padding-bottom:20px;"  ondrop="angular.element(document.getElementById('testApp')).scope().drop(event)" ondragover="angular.element(document.getElementById('testApp')).scope().allowDrop(event)">
                                    <span id="{{columnDimension}}"  draggable="true" ondragstart="angular.element(document.getElementById('testApp')).scope().drag(event)" style="margin:5px; font-size:1em; font-weight:400; line-height:1.2em;"  ng-repeat="columnDimension in columnDimensionArray track by $index" class="badge badge-primary"> {{columnDimension}}</span>
                            </div>

                    </div>
                </div>
                <textarea style="width:100%;" ng-focus="focusOnMdxString($root.mdxString);   "  
                    ng-blur="findMdxStringChanged() "   
                    ng-model="$root.mdxString" required>
                </textarea>
            </div>
            <div class="col-xs-12 col-md-12 nopadding" ng-show="!$root.useMdxNow && changedOption">     
                   
                    <h4 style="padding-left:0px; padding-bottom:10px; padding-top:10px; margin:0px; background-color: #fff;  border-bottom:0px solid #fff;"> 
                         
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-btn"   
                                style=" background-color:steelblue !important; width:100%; font-size:0.7em; color:#fff; border-radius:0px; border:1px solid steelblue !important; text-align:left; cursor:pointer;";
                                data-toggle="dropdown" ng-click="showCubeList = !showCubeList" aria-haspopup="true" aria-expanded="false" 
                                 >
                                {{activeCubeName}} 
                                <span class="pull-right"> <i ng-class="{'fa-angle-down dropdown-arrow':!showCubeList, 'fa-angle-up dropdown-arrow':showCubeList}" class="fa  " aria-hidden="true"></i></span>	
                                </button>
                                <div ng-show="showCubeList" class="out-shadow"  
                                style="width:100%; position:absolute; margin-right:20px;  float:left; z-index: 9; color:steelblue;"> 
                                    
                                    <button ng-repeat= "cube in cubesAvailable track by $index" 
                                            ng-mouseover="cubeNameOver = cube.Name; "
                                            ng-mouseout="cubeNameOver = ''; "
                                            ng-style="{'background-color': cubeNameOver === cube.Name ? 'steelblue':'#fff', 'color':cubeNameOver === cube.Name ? '#fff':'steelblue'}"
                                            style="width:100%; font-size:0.7em;   cursor:pointer;" 
                                            ng-click=" changedOption = true; chooseCube(cube.Name);   " class="dropdown-item"  >
                                            <span class="pull-left" style="margin-right:10px;">
                                                    <i ng-if="activeCubeName === cube.Name" class="fa fa-check dropdown-check" aria-hidden="true"></i>
                                            </span>
                                                <span >{{cube.Name}}</span> 
                                                 
                                         
                                    </button>  
                                </div>
                </h4>
            </div>
            <div class="col-xs-12 col-md-12 nopadding" ng-show="!$root.useMdxNow ">  
                <h3>
                 Reports
                </h3>
                <!-- <textarea  ng-if="!$root.useMdxNow"   ng-focus="    "  
                ng-blur="findMdxIdChanged() "  
                    style="width:100%; min-height:40px; border:1px solid steelblue" 
                    ng-model="$root.mdxId" >
                </textarea> -->
                <h4  ng-if="!$root.useMdxNow"  style="padding-left:0px; padding-bottom:10px; padding-top:10px; margin:0px; background-color: #fff;  border-bottom:0px solid #fff;"> 
                         
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-btn"   
                        style=" background-color:steelblue !important; width:100%; font-size:0.7em; color:#fff; border-radius:0px; border:1px solid steelblue !important; text-align:left; cursor:pointer;";
                        data-toggle="dropdown" ng-click="showNamedMdxIdList = !showNamedMdxIdList; focusOnMdxId(mdxId);" aria-haspopup="true" aria-expanded="false" 
                         >
                        {{$root.mdxId}} 
                        <span class="pull-right"> <i ng-class="{'fa-angle-down dropdown-arrow':!showNamedMdxIdList, 'fa-angle-up dropdown-arrow':showNamedMdxIdList}" class="fa  " aria-hidden="true"></i></span>	
                        </button>
                        <div ng-show="showNamedMdxIdList" class="out-shadow"  
                        style="width:100%; position:absolute; margin-right:20px;  float:left; z-index: 9; color:steelblue;"> 
                            
                            <button ng-repeat= "mdxiditem in namedMdxIdArray track by $index" 
                                    ng-mouseover="mdxidOver = mdxiditem.id; "
                                    ng-mouseout="mdxidOver = ''; "
                                    ng-style="{'background-color': mdxidOver === mdxiditem.id ? 'steelblue':'#fff', 'color':mdxidOver === mdxiditem.id ? '#fff':'steelblue'}"
                                    style="width:100%; font-size:0.7em;   cursor:pointer;" 
                                    ng-click="    mdxId =  mdxiditem.id; changedOption = true; findMdxIdChanged(mdxiditem.id,mdxiditem.cube);      " class="dropdown-item"  >
                                    <span class="pull-left" style="margin-right:10px;">
                                            <i ng-if="$root.mdxId === mdxiditem.id" class="fa fa-check dropdown-check" aria-hidden="true"></i>
                                    </span>
                                       <span  > <!-- {{mdxid.cube}}:  --> {{mdxiditem.id}}</span>
                                         
                                 
                            </button>  
                        </div>
        </h4>

            </div>
            
            <div class="col-xs-12 col-md-12 nopadding" ng-show="$root.useMdxNow">
                    
                            <button ng-disabled="!changedOption" style="font-size:1.2em; width:100%; padding:5px; padding-left:10px; padding-right:10px; border-radius:0px;" 
                            class="btn " ng-class="{'btn-success':changedOption, 'btn-primary':!changedOption}" 
                            ng-click="changedOption = false; $root.useMdxNow ? $root.setMdx($root.mdxString):''">Execute<i style="color:#fff;" class="fa fa-flash"></i></button>
                         
            </div>
                <!-- <div class="col-xs-12 col-md-12 nopadding" >     
                   
                    <h4 style="padding-left:0px; padding-bottom:10px; padding-top:10px; margin:0px; background-color: #fff;  border-bottom:0px solid #fff;"> 
                         
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-btn"   
                                style=" background-color:steelblue !important; width:100%; font-size:0.7em; color:#fff; border-radius:0px; border:1px solid steelblue !important; text-align:left; cursor:pointer;";
                                data-toggle="dropdown" ng-click="showCubeList = !showCubeList" aria-haspopup="true" aria-expanded="false" 
                                 >
                                {{activeCubeName}} 
                                <span class="pull-right"> <i ng-class="{'fa-angle-down dropdown-arrow':!showCubeList, 'fa-angle-up dropdown-arrow':showCubeList}" class="fa  " aria-hidden="true"></i></span>	
                                </button>
                                <div ng-show="showCubeList" class="out-shadow"  
                                style="width:100%; position:absolute; margin-right:20px;  float:left; z-index: 9; color:steelblue;"> 
                                    
                                    <button ng-repeat= "cube in cubesAvailable track by $index" 
                                            ng-mouseover="cubeNameOver = cube.Name; "
                                            ng-mouseout="cubeNameOver = ''; "
                                            ng-style="{'background-color': cubeNameOver === cube.Name ? 'steelblue':'#fff', 'color':cubeNameOver === cube.Name ? '#fff':'steelblue'}"
                                            style="width:100%; font-size:0.7em;   cursor:pointer;" 
                                            ng-click="  chooseCube(cube.Name);   " class="dropdown-item"  >
                                            <span class="pull-left" style="margin-right:10px;">
                                                    <i ng-if="activeCubeName === cube.Name" class="fa fa-check dropdown-check" aria-hidden="true"></i>
                                            </span>
                                                <span style="padding-left:10px;">{{cube.Name}}</span> 
                                                 
                                         
                                    </button>  
                                </div>
                </h4>
                </div> -->
                
         </div>

</div>