
  <style>
	.tm1-ui-element-consol{
		background-color: #f8f8f8;

	}
	.tm1-ui-element-consol-1{
		background-color: #bdebfd;

	}
	.tm1-ui-element-consol-2{
		background-color: #bdebfd;

	}
	.tm1-ui-element-consol-3{
		background-color: #bdebfd;

	}
 
		.stickyContainer{
			padding-top:0px;
			position:fixed;
			left:0px;
			top:146px;
			width:100% ;
			max-width:100%;
			max-height:100%;
			padding-bottom:20px;
			overflow:auto; 
			transition-property:width, height;  
    		transition-duration: 0.5s, 0.5s;  
		}
		 
 
		.fixed-container{
		
			pointer-events: none;
			padding:0px;
			position:fixed;
			top:146px;
			left:0px;
			width:100%;
			height:auto;
			z-index:2;
			display:block;
			background-color: transparent;
			color:#333;
			
			overflow:hidden;
		}
		.fixed-container-chart{
		
			pointer-events: auto;
			padding:0px;
			position:fixed;
			top:169px;
			left:0px;
			width:100%;
			height:auto;
			z-index:2;
			display:block;
			background-color: transparent;
			color:#333;
			
			overflow:hidden;
		}
		.fixed-container-debug{
			pointer-events: auto;
			padding:0px;
			position:fixed;
			top:169px;
			left:0px;
			width:100%;
			height:auto;
			z-index:2;
			display:block;
			background-color: transparent;
			color:#333;
			
			overflow:hidden;
		}
		.fixed-container-side{
		
			pointer-events: auto;
			padding:0px;
			position:fixed;
			top:169px;
			left:0px;
			width:100%;
			height:auto;
			z-index:33;
			display:block;
			background-color: transparent;
			color:#333;
			
			overflow:hidden;
		}
		.sticky-header{ 
			opacity:1;
			background-color:#fff;  
			color:#333;
		}
		.fixedFirstColHeader{
			position:fixed;
			left:0px;
			z-index:38;
			background-color:#fff;
			display: block;
		}
		 
		.white-bg{
			background-color: white;
			color:#666;
		}
		.grey-bg{
			background-color: #f8f8f8;
			color:#666;
		}
		.black-bg{
			z-index:999;
			pointer-events:none;
			background-color: rgba(0,0,0,0);
			width:100%;
			height:100%;
			top:0px;
			left:0px;
			display:block;
			position:fixed;
			color:#fff;
			text-align: center;
		}
		 
		 .myPoint{
			  
			 opacity:0;

		 }
		.tm1-ui-export a:last-child{
		display:none
		}
		.tm1-ui-export a:first-child{
			visibility: hidden;
			position: relative;
		}
		
		.tm1-ui-export a:first-child::before {
			padding-left:10px;
			vertical-align: top;
			visibility: visible;
			font-size:1.3em;
			font-family: FontAwesome;
			content: "\f1c3";
		}
		  
		.table{
			margin-bottom:0px;

		}
		.overflowhidden{
			overflow:overlay;
			overflow-x:hidden;
		}
		.dashed {
    stroke-dasharray: 5,5;
}

.nvd3.nv-scatter .nv-groups .nv-point.hover,
.nvd3 .nv-groups .nv-point.hover {
    stroke-width: 15px !important;
    fill-opacity: .5 !important;
    stroke-opacity: .5 !important;
}

.nvtooltip.with-3d-shadow, .with-3d-shadow .nvtooltip{
	height:auto;
	overflow:auto;
	 
	left:0px !important;
	position:fixed;

}
 
.responsive-text {
  font-size: 1vmax;
}
@media screen and (min-width: 1200px) {
  .responsive-text {
     font-size: 13px;
  }
}
.shadow {
   -moz-box-shadow:    inset 0px 10px 10px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
   box-shadow:         inset 0px 10px 10px rgba(0,0,0,0.3);
}
	</style>
  
  	<div class="row"   >
				 
			<div  ng-show=" $root.showView "  style="position:fixed; z-index:99 ; left:0px;  top:145px; background-color:steelblue; color:#fff; padding-top:0.5em;height:32px; width:100%; text-align:center;" 
			 >
					<span style="margin-right:10px;margin-left:10px;  float:left; left:0px;">
						<i 	ng-click="chartVisible = !chartVisible; dispatchResize(); api.update();" ng-class="{'fa-bar-chart':!chartVisible,'fa-table':chartVisible }" class="fa "></i> 
					</span>
					<span ng-show="chartVisible" > 
						 
						<span     style="margin-right:10px;margin-left:10px;  float:left; left:0px;">
							<i   ng-click="  api.refresh() " class="fa fa-refresh "></i>
						</span>
						<span    style="margin-right:10px;margin-left:10px; float:left; left:0px;">
								<i   ng-click="options.chart.useInteractiveGuideline = !options.chart.useInteractiveGuideline;  refreshNew(dataset);  dispatchResize(); api.update(); " 
								ng-class="{'fa-hand-pointer-o':options.chart.useInteractiveGuideline,'fa-hand-paper-o':!options.chart.useInteractiveGuideline}" class="fa "></i>
						</span> 
					</span>

			</div>
			<div id="stickyContainer{{tableId}}"  class="stickyContainer "  
					ng-style="{'height': setTableHeight('stickyContainer'+tableId)+'px', 'width':getTableWidth(),'position': getTablePosition(),'left':getTableLeft(),'top':getTableTop()}"> 
					<span ng-if=" $root.showView">
					<style>
					html{
						overflow: hidden;
					}
					body{
						overflow:hidden
					}
					</style>
					</span>
					<div class="fixedFirstColHeader  "  style="    box-shadow: 5px 10px 18px rgba(0,0,0,0.2);" 
					ng-style="{'top': ( (getContainerTop('stickyContainer'+tableId) + (getContainerHeight('chartRow')) ) + getContainerHeight('visualiseChartValues')   )+'px' ,  'width':(getContainerWidth('rowHieghtElement'+(tableId+'')+0+'-'+0)*(table.data()[0].elements.length))+'px', 'height':(getContainerHeight('headerColHeight'+tableId+'0'))+'px', 'left':getTableLeft()} " >
					
					<div ng-style=" {'width':(getContainerWidth('rowHieghtElement'+(tableId+'')+0+'-'+0)*(table.data()[0].elements.length))+'px', } " 
					class="text-left " 
					style="display:inline-block; margin: 0 auto;  padding:0px; background-color: #f0efef;	border: 1px solid #ddd; border-right:0px solid #ddd;   float:left; ">
					<table class="table  "  >
							<thead >
								<tr ng-repeat="row in dataset.headers track by $index" >
									<th  
									ng-style="{'height':(getContainerHeight('firstHeaderColHeight'+tableId))+'px'}"
									style="border-right:1px solid #ccc; background-color: #f0efef; " 
									ng-repeat="col in row.rows track by $index" 
									ng-if="col.visible  " colspan="{{col.colspan}}" 
									rowspan="{{col.rowspan}}" 
									class="text-center {{tableDimensionColumnClass}}" >
						 
									<span ng-if="$index === 0" class="pull-left" style="text-align:left; width:15%; display:inline-block; ">
										  
											<tm1-ui-export   tm1-target-id="af1{{tableId}}" tm1-output-name="{{cubeName}}-{{cubeView}}-{{yearNow}}-{{monthNow}}-{{dateNumber}}" tm1-field-separator="" tm1-field-qualifier="" tm1-locale=""></tm1-ui-export>
								 
									</span>

									<span style="padding:8px;" ng-show="$index != 0 ">{{col.dimension}} </span> 
										<input ng-if="$index === 0" class="form-control" 
                      ng-change="dispatchResize(); " ng-blur="dispatchResize()"
											style="display:inline-block;width:80%;background-color: rgb(240, 239, 239);display:inline-block;border: none;" 
											type="text" ng-model="selections.searchRows"   
											placeholder="Search {{col.dimension}}..."> 
									</th>
								 
								</tr>
							</thead>
						</table>

					</div>
			
			</div>

			<div class="fixed-container  " id="fixedHeaderContainer{{tableId}}" ng-style="{'width':getTableWidthinPx(),'position': getTablePosition(),'left':getTableLeft(),'top':getTableTop()}"  style=" background-color:#f0efef; padding-top:8px;   box-shadow: 5px 10px 18px rgba(0,0,0,0.2);">
					<div id="sticky-header" ng-show="selections.searchRows && rowsToDisplay() != 0 || !selections.searchRows" 	class="sticky-header"   style="height:auto;"
						ng-style="{'width': (getContainerWidth('headerContent'+tableId))+'px' } " 
					>
					<span   ng-style="{'width': (getContainerWidth('headerContent'+tableId))+'px'}" 
							style="padding:0px; margin:0 auto; position:relative; display:inline-block; left:0px; top:0px; float:left; background-color:#f0efef" 
							ng-repeat="row in dataset.headers track by $index">
							<div    ng-repeat="col in row.rows track by $index" 
								ng-style="{   'width':(getContainerWidth('rowHieghtElement'+(tableId+'')+0+'-'+$index) )+'px' } " class="text-left" 
								style="background-color: #f0efef; font-weight:600; display:inline-block; margin: 0 auto;  padding:10px; 	  float:left; ">
								{{$index > 0 ? col.dimension:''}}  
							</div>
							<div ng-init="seeDataNew(dataset.headers[$parent.$index]['columns'][$index]['element'])" ng-show="col.visible"   class="text-center center esponsive-text" 
									ng-style="{'width':((getContainerWidth('headerColHeight'+tableId+''+$index)*(col.colspan) ))+'px' , 'height':(getContainerHeight('headerRowHeight'+tableId+''+$index)-4)+'px' } " 
									ng-repeat="col in row.columns track by $index" 
								style="background-color: #f0efef;  font-weight:600;	border: 0px solid #ddd;   vertical-align:bottom;  margin: 0 auto; border-top:1px solid #ddd; border-left:1px solid #ddd; float:left; padding:4px;">
								 {{dataset.headers[$parent.$index]['columns'][$index]['element']['attributes']['Description'] ? dataset.headers[$parent.$index]['columns'][$index]['element']['attributes']['Description']:( dataset.headers[$parent.$index]['columns'][$index]['element']['attributes']['Caption_Default']  ? dataset.headers[$parent.$index]['columns'][$index]['element']['attributes']['Caption_Default'] : dataset.headers[$parent.$index]['columns'][$index]['element'].key )}}  
				 
							</div>
						</span>
					
					</div>
			</div>

			<div  id="sideContent{{tableId}}" 
				class="fixed-container-side" 
				style="    box-shadow: 5px 10px 18px rgba(0,0,0,0.2); z-index:1; background-color:#fff;"  
				ng-style="{'top': (  (getContainerTop('stickyContainer'+tableId))  +(getContainerHeight('firstHeaderColHeight'+tableId))+(getContainerHeight('chartRow'+tableId))  )+'px' , 'height':workOutContainerHeight('af'+tableId), 'width':(getContainerWidth('rowHieghtElement'+(tableId+'')+0+'-'+0)*(table.data()[0].elements.length))+'px', 'position': getTablePosition(),'left':getTableLeft()}">
				<table  class="table ">
					<tbody  >
							<tr ng-hide="selections.searchRows && ((row.elements[0].element.attributes['Description']+' '+ row.elements[0].element.name).toLowerCase()).indexOf((selections.searchRows).toLowerCase()) === -1"
							ng-repeat="row in  table.data()  track by $index"  >
							<td   			 
														ng-style="{'height':(getContainerHeight('rowHieghtElement'+(tableId+'')+$parent.$index+'-'+$index))+'px', 'border-bottom':'5px solid '+(randomColor[$parent.$index]).toString()}"
                            style=" border-right:0px solid #ccc; vertical-align:text-top; " 
                            ng-repeat="el in row.elements track by $index" 
														ng-show="el.visible" 
												 
														colspan="{{el.colspan}}" rowspan="{{el.rowspan}}" 
														class="{{tableDimensionColumnClass}} overflowhidden"
                            ng-class="{'tm1-ui-element-consol': el.element.type == 'C'  }"  >
                             
                          
                            <span ng-show="!selections.searchRows">
																<span class="tm1-ui-indent" ng-repeat="item in el.element.indent"></span>
																<span ng-if="el.element.type != 'C'" style="margin-right:20px;"></span>
                                <i ng-if="el.element.type == 'C' && !el.element.collapsed && $index == 0" ng-click="  seeData($parent.$parent.$index, table); " class="fa fa-caret-down fa-fw" style="margin-right:5px; cursor: pointer;" ></i>
                                <i ng-if="el.element.type == 'C' && el.element.collapsed && $index == 0" ng-click="  seeData($parent.$parent.$index, table);" class="fa fa-caret-right fa-fw" style="margin-right:5px; cursor: pointer;" ></i>
                            </span>   <i ng-if="el.element.type == 'C' && $index > 0" class="fa fa-angle-down fa-fw" style="margin-right:5px;" ></i>
														<span ng-style="{'padding-right':el.element.type != 'C' ? '20px':'0px'}">{{el.element.attributes['Description'] || el.element.attributes['alias'] || el.name}}   </span>
							</td>
							 
						</tr>

					</tbody>
				</table>
			</div>

			<div  ng-style="{ 'left':getTableLeft(),'top':getTableTop()}">
			  
				<table class="table" id="af1{{tableId}}">

					<thead id="head{{tableId}}" >
							 
						<tr  id="headerContent{{tableId}}" ng-repeat="row in dataset.headers track by $index">
							<th id="firstHeaderColHeight{{tableId}}" ng-if="$index === 0 && col.visible " style="border-right:1px solid #ccc; background-color: #f0efef" 
								ng-repeat="col in row.rows track by $index"   colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" class="text-center" >
								 {{$index > 0 ? col.dimension:''}} 
								<input ng-if="$index === 0" class="form-control" 
								ng-change="dispatchResize(); " ng-blur="dispatchResize()"
								style="background-color: transparent;display:inline-block;border: none;" 
								type="text" ng-model="selections.searchRows"   
								placeholder="Search {{col.dimension}}..."> 
							</th>
							<th id="firstHeaderColHeight{{tableId}}"   ng-if="$index > 0 && col.visible"  style="border-right:1px solid #ccc; background-color: #f0efef" 
								ng-repeat="col in row.rows track by $index"   colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" class="text-center" >
								 {{col.dimension}} 
								<input ng-if="$index === 0" class="form-control" 
								ng-change="dispatchResize(); " ng-blur="dispatchResize()"
								style="background-color: transparent;display:inline-block;border: none;" 
								type="text" ng-model="selections.searchRows"   
								placeholder="Search {{col.dimension}}..."> 
							</th>
							<th id="headerRowHeight{{tableId}}{{$index}}" 
							style="border-right:1px solid #ccc;background-color: #f0efef" 
						 
							ng-repeat="col in row.columns" ng-if="col.visible" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" class="text-center" >
							<span>  {{dataset.headers[$parent.$index]['columns'][$index]['element']['attributes']['Description'] ? dataset.headers[$parent.$index]['columns'][$index]['element']['attributes']['Description']:( dataset.headers[$parent.$index]['columns'][$index]['element']['attributes']['Caption_Default']  ? dataset.headers[$parent.$index]['columns'][$index]['element']['attributes']['Caption_Default'] : dataset.headers[$parent.$index]['columns'][$index]['element'].key )}}  </span>
							</th>
						</tr>
 
					</thead>
				 
					<tbody    id="bodyContent{{tableId}}"  > 
							<tr ng-if="chartVisible" >
								<td ng-repeat="el in table.data()[0].elements track by $index" ng-show="el.visible || $index === 0" > &nbsp; </td>
									<td id="chartRow{{tableId}}" ng-if="chartVisible"  colspan="{{table.data()[0]['cells'].length}}" style="padding:0px;">
										
										<nvd3   options="options" data="data" events="events"  api="api" on-ready="callback" ></nvd3>
										 
									</td>
								</tr>
						<tr id="rowHeightElement{{$index}}" 
						  ng-hide="selections.searchRows && ((row.elements[0].element.attributes['Description']+' '+ row.elements[0].element.name).toLowerCase()).indexOf((selections.searchRows).toLowerCase()) === -1"
							ng-repeat="row in  table.data()  track by $index" >
							<td id="rowHieghtElement{{tableId}}{{$parent.$index}}-{{$index}}"  
									class="{{tableDimensionColumnClass}} overflowhidden"
									ng-style="{ 'border-bottom':'5px solid '+(rowNameFinalArray[$index]['series'].color+'').toString()}"
									style=" border-right:1px solid #ccc; " 
									ng-repeat="el in row.elements track by $index" 
									ng-show="el.visible || $parent.$index === 0" 
									colspan="{{el.colspan}}" rowspan="{{el.rowspan}}" 
									ng-class="{'tm1-ui-element-consol': el.element.type == 'C'  }"  >
									<span class="tm1-ui-indent" ng-repeat="item in el.element.indent"></span>
									<span ng-if="el.element.type != 'C'" style="margin-right:20px;"></span>
								 
									<span ng-show="!selections.searchRows">
                                        <i ng-if="el.element.type == 'C' && !el.element.collapsed && $index == 0" ng-click="  seeData($parent.$parent.$index, table);  " class="fa fa-caret-down fa-fw" style="margin-right:5px; cursor: pointer;" ></i>
                                        <i ng-if="el.element.type == 'C' && el.element.collapsed && $index == 0" ng-click="  seeData($parent.$parent.$index, table);" class="fa fa-caret-right fa-fw" style="margin-right:5px; cursor: pointer;" ></i>
                                      </span>   <i ng-if="el.element.type == 'C' && $index > 0" class="fa fa-angle-down fa-fw" style="margin-right:5px;" ></i>
                                   
																		<span ng-style="{'padding-right':el.element.type != 'C' ? '20px':'0px'}">{{ el.element.attributes['Description'] || el.element.attributes['alias'] || el.name  }} </span>
																		
							</td>
							<td id="headerColHeight{{tableId}}{{$index}}"  style="max-width:100px; width:100px !important; min-width:100px ; width:100px;border-right:1px solid #ccc;" 
								ng-right-click="openRefModel(cell.reference().toString()); " 
								ng-class="{'tm1-ui-element-consol':     row.elements[0].element.type === 'C' || row.elements[1].element.type === 'C' || row.elements[2].element.type === 'C' || dataset.headers[1]['columns'][$index]['element']['type'] === 'C' || dataset.headers[0]['columns'][$index]['element']['type'] === 'C' || dataset.headers[2]['columns'][$index]['element']['type'] === 'C'  }"  
								ng-repeat="cell in row.cells track by $index" class="text-right" >
								
								<input 
									cellref="{{(cell.reference()).toString()}}" 
									contenteditable='true'  
									id="{{'input-'+tableId+'-'+$parent.$parent.$index+'-'+$index}}" 
									ng-if="!cell.isReadOnly" 
									type="text" 
									class="form-control text-right" 
									tm1-ui-format-number="0" 
									ng-attr-tabindex="{{row.index}}" 
									ng-model="cell.value " 
									ng-paste="handlePaste($event)"
									ng-value="focusObj === 'input-'+tableId+'-'+$parent.$parent.$index+'-'+$index ? (cell.value | number:0) : (cell.value | formatNumber:0)" 
									ng-focus="getFocus($event);  " 
									ng-blur="lostFocus($event); cell.value != '' && cell.value != cell.lastValue ? saveValue(cell.value, 'input-'+tableId+'-'+$parent.$parent.$index+'-'+$index):'';    " />
								<!--cell.update(query)-->
							 
								<span ng-if="cell.isReadOnly && cell.value < 0 " style="padding-right: 10px; color:darkred"> {{cell.value | formatNumber:0}} </span>
								<span ng-if="cell.isReadOnly && cell.value >= 0" style="padding-right: 10px;"> {{cell.value | formatNumber:0}} </span>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div   ng-style="{'width':getTableWidth(), 'left':getTableLeft()}" 
				style="position:fixed; padding:0px; background-color:#fff;  padding-left:0px; padding-right:20px; box-shadow: 5px -10px 18px rgba(0,0,0,0.2);  z-index:22; bottom:0px; left:0px;" 
				 >
					<div class="btn-group pull-right" role="group" style="font-weight:0.7em;"  >
						<button type="button" class="btn btn-default"  style="font-weight:0.7em;"  ng-click="table.previous(); "><i class="fa fa-angle-left"></i></button>
						<span class="btn btn-default" style="width: 100px; font-weight:0.7em;">{{table.page()}} of {{table.pages()}}</span>
						<button type="button" class="btn btn-default" style="font-weight:0.7em;" ng-click="table.next(); "><i class="fa fa-angle-right"></i></button>
					</div>
					<div class="btn-group pull-right" role="group" style="font-weight:0.7em;" >
							<button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(10)}" ng-click="table.pageSize(10); currentRowCount = 10; refresh(); consolidatedRowsOnly = false;    api.update();">10</button>
							<button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(15)}" ng-click="table.pageSize(15); currentRowCount = 15; refresh(); consolidatedRowsOnly = false;    api.update();">15</button>
							<button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(30)}" ng-click="table.pageSize(30); currentRowCount = 30; refresh(); consolidatedRowsOnly = false;    api.update();">30</button>
							<button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(50)}" ng-click="table.pageSize(50); currentRowCount = 50; refresh(); consolidatedRowsOnly = false;    api.update();">50</button>
							<button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(100)}" ng-click="table.pageSize(100);  currentRowCount = 100;  refresh(); consolidatedRowsOnly = false;    api.update();">100</button>
							<button ng-show=" table.isPageSize(100) || table.isPageSize(200) || table.isPageSize(300) || table.isPageSize(400) || table.isPageSize(500)" type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(200)}" ng-click="table.pageSize(200);  currentRowCount = 200;  refresh(); consolidatedRowsOnly = false;    api.update();">200</button>
							<button ng-show=" table.isPageSize(200) || table.isPageSize(300) || table.isPageSize(400) || table.isPageSize(500)"  type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(300)}" ng-click="table.pageSize(300);  currentRowCount = 300;  refresh(); consolidatedRowsOnly = false;    api.update();">300</button>
							<button ng-show="  table.isPageSize(300) || table.isPageSize(400) || table.isPageSize(500)"  type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(400)}" ng-click="table.pageSize(400);  currentRowCount = 400; refresh(); consolidatedRowsOnly = false;    api.update();">400</button>
							<button ng-show=" table.isPageSize(400) || table.isPageSize(500)"  type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(500)}" ng-click="table.pageSize(500);  currentRowCount = 500; refresh(); consolidatedRowsOnly = false;    api.update();">500</button>
							<button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(1000)}" ng-click="table.pageSize(1000);  currentRowCount = 1000;  refresh(); consolidatedRowsOnly = false;    api.update();">All</button>
						</div>
				</div>
			
		 
		</div>
			</div>
			 
			<!-- <div   ng-show="chartVisible"     
					ng-style="{'height': setTableHeight('stickyContainer'+tableId)+'px', 'width':getTableWidth(),'position': 'relative','left':getTableLeft(),'top':getTableTop()}"> 
 
					 
					<div   style="padding-left:55px; padding-right:55px; padding-bottom:150px;"> 
					<table id="tableHeader{{tableId}}" class="table table-condensed"   >

						<thead   >
								 
							<tr  ng-repeat="row in dataset.headers track by $index">
							 

								<th  ng-style="{'background-color':chartToolTipElements[0]['point']['x'] === $index ? 'steelblue':'#f0efef' , 'color':chartToolTipElements[0]['point']['x'] === $index ?'#fff':'unset'}"
								style="border-right:1px solid #ccc;   " 
							 
								ng-repeat="col in row.columns" ng-if="col.visible" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" class="text-center responsive-text" >
								<span>   {{col['element']['attributes']['Description'] ? col['element']['attributes']['Description']:( col['element']['attributes']['Caption_Default']  ? col['element']['attributes']['Caption_Default'] : col['element'].key )}}  </span>
								</th>
							</tr>
	 
						</thead>
					 
				 
				 
						

						<tbody   >
								 
							<tr  ng-repeat="row in chartToolTipElements track by $index">
							 
								 
								<td ng-repeat="col in (row['series'].key).split(' :- ') track by $index"
									ng-if="row['series'].color && row['point'].y != 0 " 
									ng-style="{ 'border-bottom':'5px solid '+(row['series'].color+'').toString()}"
								style="border-right:1px solid #ccc; background-color:#fff;  " 
								ng-class="{'tm1-ui-element-consol':row['point'].type === 'C'}"	
								class="text-left " >
							  {{col}}  
							 
								</td>
								<td ng-if="row['series'].color && row['point'].y != 0 " 
								ng-style="{ 'border-bottom':'5px solid '+(row['series'].color+'').toString()}"
									style="border-right:1px solid #ccc; background-color:#fff;  " 
									ng-class="{'tm1-ui-element-consol':row['point'].type === 'C'}"	
									class="text-right" >
								 
								<span  class="pull-right  "> {{row['point'].y | formatNumber:0}}</span>
								</td>
								
							</tr>
	 
						</tbody>
					</table>
					</div>
						 
				</div>
		  
				<div   ng-style="{'width':getTableWidth(), 'left':getTableLeft()}" 
				style="position:fixed; padding:0px; background-color:#fff;  padding-left:0px; padding-right:20px; box-shadow: 5px -10px 18px rgba(0,0,0,0.2);  z-index:22; bottom:0px; left:0px;" 
				 >
					<div class="btn-group pull-right" role="group" style="font-weight:0.7em;"  >
						<button type="button" class="btn btn-default"  style="font-weight:0.7em;"  ng-click="table.previous();   "><i class="fa fa-angle-left"></i></button>
						<span class="btn btn-default" style="width: 100px; font-weight:0.7em;">{{table.page()}} of {{table.pages()}}</span>
						<button type="button" class="btn btn-default" style="font-weight:0.7em;" ng-click="table.next();   "><i class="fa fa-angle-right"></i></button>
					</div>
					<div class="btn-group pull-right" role="group" style="font-weight:0.7em;" >
							<button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(10)}" ng-click="table.pageSize(10); currentRowCount = 10; refresh(); consolidatedRowsOnly = false;    api.update();">10</button>
							<button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(15)}" ng-click="table.pageSize(15); currentRowCount = 15; refresh(); consolidatedRowsOnly = false;    api.update();">15</button>
							<button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(30)}" ng-click="table.pageSize(30); currentRowCount = 30; refresh(); consolidatedRowsOnly = false;    api.update();">30</button>
							<button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(50)}" ng-click="table.pageSize(50); currentRowCount = 50; refresh(); consolidatedRowsOnly = false;    api.update();">50</button>
							<button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(100)}" ng-click="table.pageSize(100);  currentRowCount = 100;  refresh(); consolidatedRowsOnly = false;    api.update();">100</button>
							<button ng-show="  table.isPageSize(100) || table.isPageSize(200) || table.isPageSize(300) || table.isPageSize(400) || table.isPageSize(500)" type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(200)}" ng-click="table.pageSize(200);  currentRowCount = 200;  refresh(); consolidatedRowsOnly = false;    api.update();">200</button>
							<button ng-show="  table.isPageSize(200) || table.isPageSize(300) || table.isPageSize(400) || table.isPageSize(500)"  type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(300)}" ng-click="table.pageSize(300);  currentRowCount = 300;  refresh(); consolidatedRowsOnly = false;    api.update();">300</button>
							<button ng-show=" table.isPageSize(300) || table.isPageSize(400) || table.isPageSize(500)"  type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(400)}" ng-click="table.pageSize(400);  currentRowCount = 400; refresh(); consolidatedRowsOnly = false;    api.update();">400</button>
							<button ng-show=" table.isPageSize(400) || table.isPageSize(500)"  type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(500)}" ng-click="table.pageSize(500);  currentRowCount = 500; refresh(); consolidatedRowsOnly = false;    api.update();">500</button>
							<button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(1000)}" ng-click="table.pageSize(1000);  currentRowCount = 1000;  refresh(); consolidatedRowsOnly = false;    api.update();">All</button>
 
						</div>
				</div> -->
				 


		</div>

	 

	<div id="refModal{{tableId}}" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	 
				<div class="modal-dialog" style="width:90%" role="document">
			<div class="modal-content"  >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="myModalLabel">Cell Reference
						<span class="pull-right">
								<tm1-ui-dbr
								ng-if="cellreferenceArray.length"
								 tm1-instance="{{tm1Instance}}"
								 tm1-cube="{{cubeName}}"
								 tm1-elements='{{cellreferenceArray.toString()}}' 
								 >
							</tm1-ui-dbr>
						</span>
					</h4>
				</div>
				<div class="modal-body table-responsive">
						<table class="table">

							<thead>
								<th>
									Dimension
								</th>
								<th class="text-right">
									Element
								</th>
							</thead>

							<tbody>
							 
								<tr ng-repeat="dimension in dimensionArray track by $index" >
									<td class="text-left">
										{{dimension}}
									</td>
									<td class="text-right">
										{{cellreferenceArray[$index]}}
								</td>
								 
							</tr>
							</tbody>
						</table> 
						<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups" style="width:100%;">
							<div class="btn-group" role="group" aria-label="First group" style="width:100%;">
								<button ng-repeat="drillName in drillNames track by $index" ng-click="getDrillTable(cellreferenceArray, drillName.name)">{{drillName.name}}</button>
								<span 	ng-show="tableDrill.length > 0 || tableDrillCol.length > 0"  class="   pull-right"  > 
								 
									
										<tm1-ui-export 
									 
										 
										tm1-target-id="af2{{tableId}}" 
										tm1-output-name="{{(cellreferenceArray.toString()+'').split(',').join('-')}}-{{drillNameChosen}}-{{yearNow}}-{{monthNow}}-{{dateNumber}}" 
										m1-field-separator="" 
										tm1-field-qualifier="" 
										tm1-locale=""></tm1-ui-export>
							 
								</span>
								 
							</div>
							 
						 </div>
				</div>

				<div class="modal-footer" style="overflow:auto; height:500px;">
				<!--	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			 
					<table id="af2{{tableId}}" ng-show="datasetDrill && !loading && drillNameChosen === 'Transactions'" class="table table-striped" ng-if="!loading">
						<thead>
							<tr ng-repeat="row in datasetDrill.headers">
								<th ng-repeat="col in row.rows" ng-if="col.visible" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" class="text-center" >
									{{col.dimension}}
								</th>
								<th ng-repeat="col in row.columns" ng-if="col.visible" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" class="text-center" >
									{{col.name}}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in tableDrill[tableId].data()" >
								<td ng-repeat="el in row.elements" ng-if="el.visible || $parent.$index == 0" colspan="{{el.colspan}}" rowspan="{{el.rowspan}}" ng-class="{'tm1-ui-element-consol': el.element.type == 'C'}"  >
										<span class="tm1-ui-indent" ng-repeat="item in el.element.indent"></span>
										<span ng-if="el.element.type != 'C'" style="margin-right:20px;"></span>
									<i ng-if="el.element.type == 'C' && !el.element.collapsed && $index == 0" ng-click="el.element.toggle();table.refresh();" class="fa fa-caret-down fa-fw" style="margin-right:5px; cursor: pointer;" ></i>
									<i ng-if="el.element.type == 'C' && el.element.collapsed && $index == 0" ng-click="el.element.toggle();table.refresh();" class="fa fa-caret-right fa-fw" style="margin-right:5px; cursor: pointer;" ></i>
									<i ng-if="el.element.type == 'C' && $index > 0" class="fa fa-angle-down fa-fw" style="margin-right:5px;" ></i>
									{{el.name}}
								</td>
								<td ng-repeat="cell in row.cells" class="text-right" >
									<input ng-if="!cell.isReadOnly" type="text" class="form-control text-right" tm1-ui-format-number="0" ng-model="cell.value" ng-blur="cell.update(query);" />
									<span ng-if="cell.isReadOnly" style="padding-right: 10px;">{{cell.value | formatNumber:0}}</span>
								</td>
							</tr>
						</tbody>
					</table>
					<table id="af2" ng-if="tableDrillCol.length && drillNameChosen != 'Transactions'" 
					class="table table-striped" >
						<thead>
						 
								<th ng-repeat="item in tableDrillCol track by $index">
									{{item}}
								</th>
						 
						</thead>
						 <tbody>
							 <tr ng-repeat="row in tableDrillSource track by $index"> 
									<td ng-repeat="item in row track by $index">
										{{item}}
									</td>
							 </tr>
						 </tbody>
					</table>
				 
				</div>
			</div>
		</div>
		</div>
	