<div ng-controller="ttestbudgetCtrl">

  <style>
    .tm1-ui-dbr {
      text-align: right;
    }
    .tm1-ui-dbr input {
      text-align: right;
    }   
    .criteria {
      margin-top: 10px;
    }
    .consol {
      font-weight: bold;
    }
  </style>

  <h1>
    <span style="float: left; width: 50px; "><i ng-if="$root.isLoading"  class="fa fa-cog fa-spin" ></i><i ng-if="!$root.isLoading" class="fa fa-cube"></i></span> t-test-budget
  </h1>
  
  <h3>Criteria</h3>
  
  <div class="row">
  
    <div class="col-md-3 criteria" >
      <div>
          <label>Version:</label>
      </div>
      <div>
        <select class="form-control" ng-model="selections['Version']">
          <option value="1">Actual</option>
          <option value="2">Budget</option>
        </select>
      </div>
    </div>
    <div class="col-md-3 criteria" >
      <div>
          <label>Year:</label>
      </div>
      <div>
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Year" tm1-subset="Default" tm1-default-element="2014" ng-model="selections['Year']"></tm1-ui-subnm>
      </div>
    </div>
    <div class="col-md-3 criteria" >
      <div>
          <label>Currency:</label>
      </div>
      <div>
        <select class="form-control" ng-model="selections['Currency']">
          <option value="Local">Local</option>
          <option value="All Currencies">All Currencies</option>
          <option value="AUD">Australian Dollar</option>
          <option value="EUR">Euro</option>
          <option value="GBP">British Pound</option>
          <option value="USD">US Dollar</option>
        </select>
      </div>
    </div>
    <div class="col-md-3 criteria" >
      <div>
          <label>Region:</label>
      </div>
      <div>
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Region" tm1-subset="Default" tm1-default-element="3" ng-model="selections['Region']"></tm1-ui-subnm>
      </div>
    </div>
    <div class="col-md-3 criteria" >
      <div>
          <label>Department:</label>
      </div>
      <div>
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Department" tm1-subset="Default" tm1-default-element="7" ng-model="selections['Department']"></tm1-ui-subnm>
      </div>
    </div>
    <div class="col-md-3 criteria" >
      <div>
          <label>General Ledger Measure:</label>
      </div>
      <div>
        <select class="form-control" ng-model="selections['General Ledger Measure']">
          <option value="Comment">Comment</option>
          <option value="Planning Measures">Planning Measures</option>
          <option value="Amount M">Amount M</option>
          <option value="Amount">Amount</option>
          <option value="Amount Percentage">Amount Percentage</option>
          <option value="Base Amount">Base Amount</option>
          <option value="Factor">Factor</option>
          <option value="Phasing">Phasing</option>
        </select>
      </div>
    </div>
  
  </div>
  
  <h3>Template</h3> 
  
      <tm1-ui-element-list tm1-calculate-top-level="true" tm1-instance="dev" tm1-dimension="Period" tm1-subset="Default" ng-model="values['Period']"></tm1-ui-element-list>
  
      <tm1-ui-element-list tm1-calculate-top-level="true" tm1-instance="dev" tm1-dimension="Account" tm1-subset="Net Income" ng-model="lists.rows"></tm1-ui-element-list>
    
    
    <tm1-ui-progress tm1-ui-trigger="selections">
    
      <tm1-ui-progress-pending>
      </tm1-ui-progress-pending>
    
      <tm1-ui-progress-ready>
      
        <table class="table table-striped" >
          <tr>
            <th style="min-width: 250px;">Account</th>
              <th ng-repeat="item in values['Period']" class="text-right">{{item.alias}}</th>
          </tr>
        
          <tr ng-repeat="row in table.data()" ng-class="{'consol': !row.isLeaf}">
            <td><tm1-ui-element-list-item tm1-item="row" tm1-item-display="{{row.alias}}"></tm1-ui-element-list-item></td>
                <td ng-repeat="column in values['Period']" class="text-right">
                  <tm1-ui-dbr 
                      tm1-instance="dev" 
                      tm1-cube="General Ledger" 
                      tm1-elements="{{selections['Version']}},{{selections['Year']}},{{column.key}},{{selections['Currency']}},{{selections['Region']}},{{selections['Department']}},{{row.key}},{{selections['General Ledger Measure']}}" 
                      tm1-data-decimal="0" ></tm1-ui-dbr>
                </td>
  
          </tr>
        </table>
        
        <div>
          <div class="btn-group" role="group" >
            <button type="button" class="btn btn-default" ng-click="table.previous()"><i class="fa fa-angle-left"></i></button>
            <span class="btn btn-default" style="width: 70px;">{{table.page()}} of {{table.pages()}}</span>
            <button type="button" class="btn btn-default" ng-click="table.next()"><i class="fa fa-angle-right"></i></button>
          </div>
          <div class="btn-group pull-right" role="group" >
            <button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(10)}" ng-click="table.pageSize(10)">10</button>
            <button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(20)}" ng-click="table.pageSize(20)">20</button>
            <button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(30)}" ng-click="table.pageSize(30)">30</button>
            <button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(50)}" ng-click="table.pageSize(50)">50</button>
            <button type="button" class="btn btn-default" ng-class="{'active': table.isPageSize(100)}" ng-click="table.pageSize(100)">100</button>
          </div>
        </div>
    
      </tm1-ui-progress-ready>
    
    </tm1-ui-progress>
  
  </div>
    

</div>