<div ng-controller="testactivefrmCtrl">

  <style>
    .tm1-ui-dbr {
      text-align: right;
    }
    .tm1-ui-dbr input {
      text-align: right;
    }   
    .criteria {
      margin-top: 10px;
    }
    .consol {
      font-weight: bold;
    }
  </style>

  <h1>
    <span style="float: left; width: 50px; "><i ng-if="$root.isLoading"  class="fa fa-cog fa-spin" ></i><i ng-if="!$root.isLoading" class="fa fa-cube"></i></span> test-active-frm
  </h1>
  
  <h3 class="text-muted">Criteria</h3>
  
  <div class="row">
    <div class="col-md-3">     
     Period
    </div>
    <div class="col-md-3">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Period" tm1-select-only="true" tm1-subset="Default" tm1-default-element="Year" ng-model="page.titles['Period']"></tm1-ui-subnm>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">     
     Year
    </div>
    <div class="col-md-3">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Year" tm1-select-only="true" tm1-subset="Default" tm1-default-element="2014" ng-model="page.titles['Year']"></tm1-ui-subnm>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">     
     General Ledger Measure
    </div>
    <div class="col-md-3">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="General Ledger Measure" tm1-select-only="true" tm1-default-element="Amount" ng-model="page.titles['General Ledger Measure']"></tm1-ui-subnm>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">     
     Currency
    </div>
    <div class="col-md-3">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Currency" tm1-select-only="true" tm1-subset="Default" tm1-default-element="Local" ng-model="page.titles['Currency']"></tm1-ui-subnm>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">     
     Region
    </div>
    <div class="col-md-3">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Region" tm1-select-only="true" tm1-default-element="1" ng-model="page.titles['Region']"></tm1-ui-subnm>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">     
     Department
    </div>
    <div class="col-md-3">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Department" tm1-select-only="true" tm1-default-element="1" ng-model="page.titles['Department']"></tm1-ui-subnm>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      Suppress Zeroes
    </div>
    <div class="col-md-3">
      <select class="form-control" ng-init="page.suppressZero = 'none'" ng-model="page.suppressZero">
        <option value="none">Do not Suppress Zeroes</option>
        <option value="row">Suppress Zero on Rows</option>
      </select>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  
  <h3 class="text-muted">Template</h3> 
  
  <div class="table-responsive" >
    <tm1-ui-rpt-view tm1-instance="dev" tm1-cube="General Ledger" ng-model="data" tm1-suppress-zero="{{page.suppressZero}}" >
      <tm1-ui-rpt-config>
        <tm1-ui-rpt-title tm1-dimension="Period" tm1-element="{{page.titles['Period']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Year" tm1-element="{{page.titles['Year']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="General Ledger Measure" tm1-element="{{page.titles['General Ledger Measure']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Currency" tm1-element="{{page.titles['Currency']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Region" tm1-element="{{page.titles['Region']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Department" tm1-element="{{page.titles['Department']}}"></tm1-ui-rpt-title>
          
        <tm1-ui-rpt-row tm1-dimension="Account" tm1-mdx="{[Account].[Net Income],[Account].[Operating Profit],[Account].[Gross Margin],[Account].[Operating Expenses],[Account].[Other Income and Expense],[Account].[Interest Income],[Account].[Interest Expense],[Account].[Gain/Loss on Sales of Asset],[Account].[Other Income],[Account].[Curr Xchg Gain/(Loss)],[Account].[Taxes]}"></tm1-ui-rpt-row>
          
        <tm1-ui-rpt-column tm1-dimension="Version" tm1-mdx="{[Version].[Actual],[Version].[Last Year]}"></tm1-ui-rpt-column>
                    
      </tm1-ui-rpt-config>
      
      <tm1-ui-rpt-template>
        <table id="af1" class="table table-condensed">
          <thead>
            
              <tr>
                <th>Account</th>
              
                <th class="text-center">Actual</th>
                <th class="text-center">Last Year</th>
              </tr>
              
            
          </thead>
          <tbody>
            <tr ng-repeat="rowData in data.rows track by $index" >
              <td tm1-ui-rpt-row-element="rowData" tm1-dimension="Account"></td>
            
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('1')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('Last Year')"></tm1-ui-dbr>
              </td>
            
            </tr>
          </tbody>
          </table>
          
      </tm1-ui-rpt-template>
    </tm1-ui-rpt-view> 
  </div>  

</div>