<div ng-controller="testexcelCtrl">

  <style>
    .tm1-ui-dbr {
      text-align: right;
    }
    .tm1-ui-dbr input {
      text-align: right;
    }   
    .criteria {
      margin-top: 10px;
    }
    .consol {
      font-weight: bold;
    }
  </style>

  <h1>
    <span style="float: left; width: 50px; "><i ng-if="$root.isLoading"  class="fa fa-cog fa-spin" ></i><i ng-if="!$root.isLoading" class="fa fa-cube"></i></span> test-excel
  </h1>
  
  <h3 class="text-muted">Criteria</h3>
   
  <div class="row">
    <div class="col-md-3">     
     Version
    </div>
    <div class="col-md-3">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Version" tm1-select-only="true" tm1-subset="Default" tm1-default-element="1" ng-model="page.titles['Version']"></tm1-ui-subnm>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">     
     Region
    </div>
    <div class="col-md-3">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Region" tm1-select-only="true" tm1-subset="Default" tm1-default-element="1" ng-model="page.titles['Region']"></tm1-ui-subnm>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">     
     Currency
    </div>
    <div class="col-md-3">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Currency" tm1-select-only="true" tm1-subset="Default" tm1-default-element="USD" ng-model="page.titles['Currency']"></tm1-ui-subnm>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">     
     Employee
    </div>
    <div class="col-md-3">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Employee" tm1-select-only="true" tm1-subset="Default" tm1-default-element="All Employees" ng-model="page.titles['Employee']"></tm1-ui-subnm>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">     
     Product
    </div>
    <div class="col-md-3">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Product" tm1-select-only="true" tm1-default-element="All Products by Category" ng-model="page.titles['Product']"></tm1-ui-subnm>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">     
     Reseller
    </div>
    <div class="col-md-3">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Reseller" tm1-select-only="true" tm1-default-element="All Resellers" ng-model="page.titles['Reseller']"></tm1-ui-subnm>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      Suppress Zeroes
    </div>
    <div class="col-md-3">
      <select class="form-control" ng-init="page.suppressZero = 'none'" ng-model="page.suppressZero">
        <option value="none">Do not Suppress Zeroes</option>
        <option value="row">Suppress Zero on Rows</option>
      </select>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  
  <h3 class="text-muted">Template<tm1-ui-export tm1-target-id="af1"></tm1-ui-export></h3> 
  
  <div class="table-responsive" ng-init="page.size = 10">
    <tm1-ui-rpt-view tm1-instance="dev" tm1-cube="Wholesale" ng-model="data" tm1-suppress-zero="{{page.suppressZero}}" tm1-page-size="{{page.size}}">
      <tm1-ui-rpt-config>
        <tm1-ui-rpt-title tm1-dimension="Version" tm1-element="{{page.titles['Version']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Region" tm1-element="{{page.titles['Region']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Currency" tm1-element="{{page.titles['Currency']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Employee" tm1-element="{{page.titles['Employee']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Product" tm1-element="{{page.titles['Product']}}"></tm1-ui-rpt-title>
        <tm1-ui-rpt-title tm1-dimension="Reseller" tm1-element="{{page.titles['Reseller']}}"></tm1-ui-rpt-title>
          
        <tm1-ui-rpt-row tm1-dimension="Year" tm1-mdx="{[Year].[2005/06],[Year].[2006/07],[Year].[2007/08],[Year].[2008/09],[Year].[2009/10],[Year].[2010/11],[Year].[2011/12],[Year].[2012/13],[Year].[2013/14],[Year].[2014/15],[Year].[2015/16],[Year].[2016/17],[Year].[2017/18],[Year].[2018/19],[Year].[Select]}"></tm1-ui-rpt-row>
        <tm1-ui-rpt-row tm1-dimension="Sales Measure" tm1-mdx="{[Sales Measure].[Net Margin],[Sales Measure].[Sales Amount],[Sales Measure].[Discount Amount],[Sales Measure].[Cost],[Sales Measure].[Freight]}"></tm1-ui-rpt-row>
          
        <tm1-ui-rpt-column tm1-dimension="Period" tm1-subset="Default"></tm1-ui-rpt-column>
                    
      </tm1-ui-rpt-config>
      
      <tm1-ui-rpt-template>
        <table id="af1" class="table table-condensed">
           
          <thead>
            
              <tr>
                <th>Year</th>
                <th>Sales Measure</th>
              
                <th class="text-center">Year</th>
                <th class="text-center">Jan</th>
                <th class="text-center">Feb</th>
                <th class="text-center">Mar</th>
                <th class="text-center">Apr</th>
                <th class="text-center">May</th>
                <th class="text-center">Jun</th>
                <th class="text-center">Jul</th>
                <th class="text-center">Aug</th>
                <th class="text-center">Sep</th>
                <th class="text-center">Oct</th>
                <th class="text-center">Nov</th>
                <th class="text-center">Dec</th>
              </tr>
              
            
          </thead>
          <tbody>
            <tr ng-repeat="rowData in data.rows track by $index" ng-if="rowData.inPage">
              <td tm1-ui-rpt-row-element="rowData" tm1-dimension="Year"></td>
              <td tm1-ui-rpt-row-element="rowData" tm1-dimension="Sales Measure"></td>
            
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('Year')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('01')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('02')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('03')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('04')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('05')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('06')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('07')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('08')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('09')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('10')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('11')"></tm1-ui-dbr>
              </td>
              <td class="text-right">
                <tm1-ui-dbr tm1-rpt-view-model="data" tm1-rpt-row-cell="rowData.getCell('12')"></tm1-ui-dbr>
              </td>
            
            </tr>
          </tbody>
          </table>
          
          <div>
            <div class="btn-group" role="group" >
              <button type="button" class="btn btn-default" ng-click="data.pageFirst()"><i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i></button>
              <button type="button" class="btn btn-default" ng-click="data.pagePrevious()"><i class="fa fa-angle-left"></i></button>
              <span class="btn btn-default" style="width: 70px;">{{data.page()}} of {{data.pages()}}</span>
              <button type="button" class="btn btn-default" ng-click="data.pageNext()"><i class="fa fa-angle-right"></i></button>
              <button type="button" class="btn btn-default" ng-click="data.pageLast()"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></button>
            </div>
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default" ng-class="{'active': data.isPageSize(10)}" ng-click="page.size = 10">10</button>
              <button type="button" class="btn btn-default" ng-class="{'active': data.isPageSize(25)}" ng-click="page.size = 25">25</button>
              <button type="button" class="btn btn-default" ng-class="{'active': data.isPageSize(50)}" ng-click="page.size = 50">50</button>
              <button type="button" class="btn btn-default" ng-class="{'active': data.isPageSize(0)}" ng-click="page.size = 0">All</button>
            </div>
          </div>
      </tm1-ui-rpt-template>
    </tm1-ui-rpt-view> 
  </div>  

</div>